.nav-tabs .nav-link {
    color:  #1f286b;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-color:#1f286b;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #005EB7;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom-color: #005EB7;
}

.bottomBorderTextBox {
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
 }


 [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

.connections-popup-img {
    background-color: #204554/*#4182A1*/;
    margin: 0px;
    height: 150px;
    text-align: center;
    line-height: 140px;
}
.connections-popup-imgs {
    display: inline-block;
    height: 100%;
}
.connections-popup-imgs > .img_outer {
    display: inline-block;
    height: 100%;
    line-height: 140px;
    text-align: center;
}
.nopadding{
    padding:0px !important;
}


 .iconGreen{
    color: #0f7c4a;
 }   

.marginLeftAllign{
    margin-left: 20px;
}

.connections-target-heading {
    color: #000;
    margin: 10px 0 3px;
    text-align: center;
    /* text-transform: uppercase; */
}


.targetFixHead{
    height: 200px;
    max-width :100%;
    overflow-y: auto;
 }
 
  .targetFixHead thead th{ 
    position: sticky; 
    top: 0; 
  } 


  .targetHeaderBorderColor {
    border-right-color: #DEE2E6 !important;
 }