<div style="height:100%">
 <mat-sidenav-container autosize class="example-container" style="height:100% ! important;margin-top: -15px !important;">
    <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenavColour workloadSidePanel">
     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
      <ul  class="treeAllignment" style="list-style: none;cursor: pointer">
        <li  *ngFor="let item of controlResponse">
            <span (click)="expandCollapse(item)"><i [ngClass]="{'intelicon-plus': !item.expand ,'intelicon-minus': item.expand}" class="intelicon-plus"></i></span>
            {{item.Name}}   
            <ul *ngIf="item.expand" style="list-style: none;padding:0px;cursor: pointer">
              <ng-container *ngFor="let item1 of item.DropDownList">
                <li class="controlTreeCC" matTooltip={{item1.ToolTip}} matTooltipPosition="below"  [ngClass]="'controlTree'+item.Index+item1.Index" (click)="controlTree(item.Index+item1.Index+';'+item1.Name)">
                  <i class="fas fa-angle-right"></i>  {{item1.Name}}
                </li>
              </ng-container>
            </ul>
        </li> 
    </ul>
   </div>
    </mat-sidenav>

    <mat-sidenav-content class="workloadContent">
      <div class="sidePanelBtn sidePanelBtnAlt" (click)="sidenav.toggle();toggleIcon()">
        <i class="sidePanelIcon fas" [ngClass]="hasClass ?'fas fa-angle-double-right':'fas fa-angle-double-left'"></i>
      </div>
        <div class="card curvedCorners workLoadCard" style="margin-top: -25px;">
          <div class="card-header curvedCorners">
            <h6>Control - {{controlName}}</h6>
            <ng-container *ngFor="let item of controlResponse">
              <ng-container *ngFor="let item1 of item.DropDownList">    
                <div class="curvedCorners table-responsive controlTableCC hide controlDiv" id="controlFixHead" style="height: calc(100vh - 221px) !important" [ngClass]="'controlTable'+item.Index+item1.Index">
                  <table  class="table controlTableCC hide" [ngClass]="'controlTable'+item.Index+item1.Index">                  
                    <thead class="tatTableHeader">
                      <tr>
                        <ng-container *ngFor="let item2 of item1.TableData.Header">
                          <th class="textCenter" style="border-right-color:#fff !important;z-index: 2;">{{item2.HeaderValue}}</th>
                        </ng-container> 
                        </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item3 of item1.TableData.Row;let workloadIndex = index">
                        <tr>
                          <td [ngClass]="'controlTableFirstRow'+item.Index+item1.Index+item3.Index" class="commonTd">
                              {{item3.Name}}
                          </td>
                          <td class="commonTd">
                            <div *ngIf="item3.Action == 'Slider'">
                              <div class="sliderDiv">
                                <a>{{item3.min}}</a>
                                <mat-slider (click)="enableIndex()" [ngClass]="zindex? 'zindex':''" [min]="item3.min" [max]="item3.max" [(ngModel)]="item3.slider"  thumbLabel  [step]="item3.stepping" tickInterval="1"></mat-slider>
                                <a>{{item3.max}}</a>
                              </div>
                            </div>  
                            <div *ngIf="item3.Action == 'Dropdown'">
                              <select class="form-control dropdownControl" [ngClass]="'controlTableRow'+item.Index+item1.Index+item3.Index">
                                <option *ngFor="let item4 of item3.DropdownValue">
                                  {{item4.Data}}
                                </option>
                              </select>                                   
                            </div>
                          </td>
                          <td style="width:150px !important;" class="commonTd" >                                                                  
                              <button style="min-width:80px;" *ngIf="item3.Action == 'Slider'"  [ngClass]="{'controlSetBtnStyleFirst': workloadIndex == 0 ,'controlSetBtnStyle': workloadIndex != 0}" class="{{'controlSetButton'+item.Index+item1.Index+item3.Index}} btn btn-sm greenBtnColor greenBtnColorAlt"   type="submit"  (click)="setControl('slider',item3,item.Name,item.Index,item1.Name,item1.Index)" matTooltip={{item3.ToolTip}}  matTooltipPosition="below">
                                  {{item3.ButtonName}}
                              </button>
                              <button style="min-width:80px;" *ngIf="item3.Action == 'Dropdown'"  [ngClass]="{'controlSetBtnStyleFirst': workloadIndex == 0,'controlSetBtnStyle': workloadIndex != 0}" class="{{'controlSetButton'+item.Index+item1.Index+item3.Index}} btn btn-sm greenBtnColor greenBtnColorAlt"  type="submit"  (click)="setControl('dropdown',item.Index+item1.Index+':'+item3.Index,item.Name,item.Index,item1.Name,item1.Index)" matTooltip={{item3.ToolTip}}  matTooltipPosition="below">
                                  {{item3.ButtonName}}
                              </button>                                  
                          </td>
                          <td style="width:150px !important;" [ngClass]="'controlValSetResponse'+item.Index+item1.Index+item3.Index" class="commonTd">
                              {{item3.CurrentLevel}}
                          </td>
                        </tr>
                      </ng-container> 
                    </tbody>
                  </table> 
                </div>                
            </ng-container>
          </ng-container>
          </div>
        </div>
          
    </mat-sidenav-content>

</mat-sidenav-container> 

<div class="modal popupBackgroundColor"  [style.display]="showControlWarningModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="padding: 7px;">
        <i style="color:#FFF000" class="fas fa-exclamation-triangle"><label style="color:#fff;padding-left: 5px;" class="modal-title">Warning</label></i>
        <button type="button" class="close" data-dismiss="modal" (click)="closeControlWarningModal()">&times;</button>
      </div>
    
      <div class="modal-body" style="padding: 10px;margin-top: 5px;">
        <label>Changing system settings can affect system performance and thermal characteristics. Please ensure that the settings are within platform capabilities. Do you want to continue?</label>
       </div>
    
      <div class="modal-footer" style="padding: 5px 10px 5px 10px;">
          <div id="checkboxDiv" class="col-8 col-md-10 form-check" style="margin:0px !important; overflow:hidden;">
            <div class="col-2 checkboxParent">
              <input class="form-check-input col-2" [(ngModel)]="controlWarningCheckBoxStatus" style="float: left! important;" type="checkbox"  value="" id="defaultCheck1">
            </div>
            <div class="col-10">
              <label class="form-check-label col-10" style="float: left! important;padding-left: 1px;">
                Do not show this dialog again
              </label>
            </div>
          </div>
          <button type="button" class="col-2 col-md-1 btn greenBtnColor" (click)="continueSetControl()" data-dismiss="modal">Continue</button>
          <button type="button" class="col-2 col-md-1 btn greenBtnColor" (click)="closeControlWarningModal()" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
  
</div>
