<div id="mainAlertBody">
    <div class="alertHeader">
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group" role="group" aria-label="First group">
                <label class="infoClass alertHeaderAlert" *ngIf="!alertSecShowHide">
                    Click on "Add Alerts" button to add more alerts
                </label>
            </div>
            <div class="input-group">
                <button type="button" style="margin-right: 10px;" (click) ="alertStartStop(alertBtnVal)" matTooltip={{startStopToolTip}}  matTooltipPosition="below" class="btn btn-sm" [ngClass]="{'greenBtnColor':alertBtnVal == 'Start Alerts','redBtnColor':alertBtnVal == 'Stop Alerts','disabledClass': startAlert ==1}">
                    {{alertBtnVal}}
                </button>
                <button type="button" class="btn greenBtnColor btn-sm" matTooltip='click here to add alerts'  matTooltipPosition="below" [disabled] = "startLoggingDisable == 1" (click)="showAlertSec()">
                    Add Alerts
                </button>
            </div>
        </div>
    </div>
    <div class="alertContentArea" style="overflow-y: auto;">
        <div class="card curvedCorners" *ngIf="alertSecShowHide">
            <div class="card-header curvedCorners contentAreaHeader">
                <!-- Adding Alert Starts Here -->
                <div class="alertSubContent" >
                    <span>(</span>
                    <div id="formGroup row">
                            <div class="form-row" id="formRow" *ngFor = "let item of alertInputData; let i = index">
                                <div class="form-group col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" id="removeDiv" *ngIf = "alertInputData.length > 1">
                                    <span class="intelicon-trash-solid" (click)="removeAlertData(i)" id="alertRemoveIcon"></span>
                                </div>
                                <div class="form-group col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" *ngIf = "i != 0">
                                    <select id="inputComb"  class="btn alertDropDownBtnColor alertFontSize marginLeftCondition" [(ngModel)] = "item.expSymbol">
                                        <option  *ngFor="let itemComb of alertCombination" class="alertFontSize">{{itemComb}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-4 col-sm-5 col-md-5 col-lg-5 col-xl-5" >
                                    <input type="text" (keypress)="restrictKeyPress($event)"  value="{{item.itemPname}}{{item.underScore}}{{item.itemName}}{{item.itemUnit}}"  class="form-control dropBox alertFontSize alertDropTextBox" cdkDropList cdkDropListConnectedTo="treeMenu" (cdkDropListDropped)="dropInInput($event)" id="xyz{{i}}" placeholder="Drag and Drop any Parameter" />
                                </div>
                                <div class="form-group col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <select   *ngIf="!item.itemType" class="form-control alertFontSize marginLeftCondition" >
                                        </select>
                                    <select id="inputState" [(ngModel)]="item.conditionType" *ngIf="item.itemType == 1" class="form-control alertFontSize marginLeftCondition" >
                                        <option [value] = "i" *ngFor="let DropDownItem of stringType; let i = index">{{DropDownItem.name}}</option>
                                    </select>
                                    <select id="inputState" [(ngModel)]="item.conditionType"  class="form-control alertFontSize marginLeftCondition" *ngIf = "item.itemType == 2" >
                                        <option [value] = "i" *ngFor="let DropDownItem of numberType; let i = index">{{DropDownItem.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <input type="{{item.itemType == 1 ? 'text' : 'Number'}}" [disabled]="(!item.conditionType && item.conditionType != 0 ) || item.conditionType =='Select'"  (keypress)="restrictSpecChar($event,item.itemType)" [(ngModel)] = "item.selectedInputVal" class="form-control alertFontSize"/>
                                </div>
                            </div>
                    </div>
                    <span>)</span>
                    <span (click)="createFormGroup()" class="intelicon-plus-max" id="addExtra"></span>
                    <div>
                        <select class="btn blueBtnColor btn-sm alertFontSize" [(ngModel)] = "errorType">
                            <option value="Info">Info</option>
                            <option value="Warning">Warning</option>
                            <option value="Error">Error</option>
                        </select>
                    </div>
                </div>
                <div class="btn-toolbar justify-content-between">
                    <div class="btn-group" role="group" aria-label="First group">
                        <h6 class="alertHeaderMsg" *ngIf="!alertSecShowHide">
                            {{alertMessage}}
                        </h6>
                    </div>
                    <div class="input-group" *ngIf="alertSecShowHide">
                        <button type="button" (click) ="proceedAlert()"  class="btn btn-sm greenBtnColor">
                            Submit
                        </button> &nbsp;
                        <button type="button" class="btn otherBtn btn-sm" (click)="cancelAlert()">
                            Cancel
                        </button>
                    </div>
                </div>
                <!-- Adding Alert Ends Here -->
            </div>
        </div>
        <div class="card curvedCorners alertCard" *ngIf = "alertSummaryTableView || recenetAlertDiv">
            <div class="card-header curvedCorners">
                <!-- Recent Alert Icon Starts Here -->
                <div class="recentIconDiv" >
                    <i class="fa fa-bars" (click)="recentAlert(intelIconClass)" class="{{intelIconClass}}" matTooltip='{{alertIconToolTip}}'  matTooltipPosition="below" style="font-size: 18px;"></i> &nbsp; 
                    <i class="fa fa-share-square" [ngClass]="{'disabledClass' : openSummaryFile == 1}" matTooltip='Open Alert summary file' (click)="openAlertFile()" style="font-size: 15px;"></i>
                </div>
                
                <!-- Recent Alert Icon Ends Here -->

                <!-- Recent Alert Summary Starts Here -->
                <div *ngIf="alertSummaryTableView">
                    <h6>
                        Alert Summary
                    </h6>
                    <div class ="curvedCorners" [ngClass]="alertSecShowHide?'alertSummaryFixHead':'alertSummaryFixHeadAlt'">
                        <table class="table table-bordered">
                            <thead >
                                <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Level</th>
                                <th scope="col">Count</th>
                                <th scope="col">Delete/Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of summaryData">
                                    <td><a matTooltip='{{item.expStr}}'  matTooltipPosition="below">{{item.name}}</a></td>
                                    <td>{{item.errorType}}</td>
                                    <td>{{item.alertCount}}</td>
                                    <td>
                                        <span (click) = "deleteExpression(item.name)" class="intelicon-trash"></span>&nbsp;
                                        <span (click) = "editExpression(item.name)" class="intelicon-edit"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Recent Alert Summary Ends Here -->

                <!-- Recent Alert Div Starts Here -->
                <div id="recentAlert" *ngIf="recenetAlertDiv">
                    <h6>
                        Recent Alert
                    </h6>
                    <div class="curvedCorners" [ngClass]="alertSecShowHide?'alertFixHead':'alertFixHeadAlt'">
                        <table class="table" id="recentAlertTable">
                            <thead>
                                <tr>
                                    <th scope="col">Expression</th>
                                    <th scope="col">Time Stamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let item of recentAlertData">
                                    <td><a  matTooltip="{{item.AlertExpressionName}}" matTooltipPosition="below">{{item.AlertExpression}}</a></td>
                                    <td>{{item.Timestamp}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>        
                <!-- Recent Alert Div Ends Here -->
            </div>
        </div>
    </div>
</div>

