<div style="height:100%">
   <mat-sidenav-container autosize class="example-container" style="height:100%;margin-top: -15px !important;">
      <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenavColour workloadSidePanel">
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
            <ul class="treeAllignment" style="cursor: pointer">
               <li *ngFor="let item of workloadArray">
                  <!-- <span  (click)="expandCollapse(item)"><i [ngClass]="{'intelicon-plus': !item.expand ,'intelicon-minus': item.expand}" class="intelicon-plus"></i></span > -->
                  {{item.Name}}
                  <ul *ngIf="item.expand" style="list-style: none;padding:0px;cursor: pointer">
                     <ng-container *ngFor="let item1 of item.TestMode; let i = index">
                        <li class="workLoadTreeCC" matTooltip={{item1.ToolTip}} matTooltipPosition="below"
                           [ngClass]="'workloadTree'+item.TestIndex+item1.TestModeIndex"
                           (click)="workLoadTree(item.TestIndex+item1.TestModeIndex+';'+item1.Name)">
                           <i class="fas fa-angle-right"></i> {{item1.Name}}
                        </li>
                     </ng-container>
                  </ul>
               </li>
            </ul>
         </div>
      </mat-sidenav>

      <mat-sidenav-content class="workloadContent">
         <div class="sidePanelBtn sidePanelBtnAlt" (click)="sidenav.toggle();toggleIcon()">
            <i class="sidePanelIcon fas"
               [ngClass]="(hasClass == true)?'fa-angle-double-left':'fa-angle-double-right'"></i>
         </div>
         <div>
            <div class="card curvedCorners workLoadCard" style="margin-top: -25px;
            height: calc(65vh - 157px) !important;">
            <!-- height: calc(100vh - 157px) !important;"> -->
                  <div class="card-header curvedCorners" style="background-color: rgba(0,0,0,0);
                  border-bottom: none;">
                     <h6>Workload - {{workLoadName}}</h6>
                     <ng-container *ngFor="let item of workloadArray">
                        <ng-container *ngFor="let item1 of item.TestMode">
                           <!-- style="overflow: auto !important; height: calc(49vh - 150px);"  -->
                           <div class="workLoadTableCC" style="height: calc(50vh - 144px); overflow: auto;width: 102%;" [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex">
                              <div class="curvedCorners table-responsive workLoadTableCC workLoadDiv" id="workLoadFixHead"
                                 (scroll)="onScroll($event)" [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex"
                                 *ngIf="item1.Note !==''">
                                 <table class="table workLoadTableCC" [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex">
                                    <thead class="tatTableHeader">
                                       <tr>
                                          <ng-container *ngFor="let item2 of item1.TableData.Header">
                                             <th style="border-right-color:#fff !important;z-index:2;" class="textCenter">
                                                {{item2}}</th>
                                          </ng-container>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <ng-container *ngFor="let item3 of item1.TableData.Row;let workloadIndex = index">
                                          <tr [ngClass]="'workLoadTableRow'+item.TestIndex+item1.TestModeIndex+item3.GroupID"
                                             [attr.id]="'curWLid'+item.TestIndex+item1.TestModeIndex+item3.GroupID">
         
                                             <td class="comonTd,align-middle"
                                                [ngClass]="'workLoadTableFirstRow'+item.TestIndex+item1.TestModeIndex+item3.Index"
                                                style="line-height: 35px;min-height: 15px;height: 15px;padding: 0px !important;text-align: center;">
                                                {{item3.Note}}
                                             </td>
         
                                             <!-- <td class="comonTd">
                                                <button style="min-width:80px;" 
                                                   [ngClass]="{'greenBtnColor':item3.ButtonName == 'Start','redBtnColor':item3.ButtonName === 'Stop','marginBtnTopFirst': workloadIndex == 0,'marginBtnTopNotFirst' : workloadIndex != 0}"
                                                   class="{{ 'workLoadSetButton'+item.TestIndex+item1.TestModeIndex+item3.Index}} btn btn-sm tableTextAllign"
                                                   (click)="workLoadStartStop('note',item3,item.Name,item.TestIndex,item1.Name,item1.TestModeIndex)"
                                                   matTooltip={{item3.ToolTip}}
                                                   matTooltipPosition="below">{{item3.ButtonName}}</button>
         
                                             </td>
                                             <td class="comonTd">
                                                <a
                                                   [ngClass]="{'text-success':item3.Status.toLowerCase() == 'running','text-danger':item3.Status.toLowerCase() == 'failed'}">
                                                   {{item3.Status}}
                                                </a>
                                             </td> -->
                                          </tr>
         
         
                                       </ng-container>
         
         
                                    </tbody>
                                 </table>
                              </div>
                              <div class="curvedCorners table-responsive workLoadTableCC workLoadDiv" id="workLoadFixHead"
                                 (scroll)="onScroll($event)" [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex"
                                 *ngIf="item1.Note==''">
                                 <table class="table workLoadTableCC" [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex">
                                    <thead class="tatTableHeader">
                                       <tr>
                                          <ng-container *ngFor="let item2 of item1.TableData.Header">
                                             <th style="border-right-color:#fff !important;z-index:2;" class="textCenter">
                                                {{item2}}</th>
                                          </ng-container>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <ng-container *ngFor="let item3 of item1.TableData.Row;let workloadIndex = index">
                                          <tr [ngClass]="'workLoadTableRow'+item.TestIndex+item1.TestModeIndex+item3.GroupID"
                                             [attr.id]="'curWLid'+item.TestIndex+item1.TestModeIndex+item3.GroupID">
         
                                             <td class="comonTd" *ngIf="item1.TableData.Header.length <=4">
                                                <div *ngIf="item3.Action == 'Slider'">
                                                   <div class="sliderDiv" style="margin-left: 14px;">
                                                      <a>{{item3.min}}</a>
                                                      <mat-slider class="matSlider" (click)="enableIndex()"
                                                         [ngClass]="zindex? 'zindex':''" [min]="item3.min" [max]="item3.max"
                                                         [(ngModel)]="item3.slider" [disabled]="item3.Status == 'Running'"
                                                         thumbLabel [step]="item3.stepping" tickInterval="1" class="md-subhead">
                                                      </mat-slider>
                                                      <a>{{item3.max}}</a>
                                                   </div>
                                                </div>
                                                <div *ngIf="item3.Action == 'Dropdown'">
                                                   <select class="form-control dropdownControl"
                                                      [ngClass]="'workLoadTableButton'+item.TestIndex+item1.TestModeIndex+item3.Index">
                                                      <option *ngFor="let item4 of item3.DropdownValue">
                                                         {{item4.Data}}
                                                      </option>
                                                   </select>
                                                </div>
                                             </td>
                                          
                                             <td class="comonTd" *ngIf="item1.TableData.Header.length >4">
         
                                                <div style="margin-left:14px ;">
                                                   <select class="form-control dropdownControl"
                                                      [(ngModel)]="item3.SelectedCPU" (change)="getComboTestValue(item3)"
                                                      [ngClass]="'workLoadTableButton'+item.TestIndex+item1.TestModeIndex+item3.Index">
                                                      <option *ngFor="let item4 of item3.CpuTests" [ngValue]="item4">
                                                         {{item4}}
                                                      </option>
                                                   </select>
                                                </div>
                                             </td>
         
                                             <td class="comonTd" *ngIf="item1.TableData.Header.length >4">
         
                                                <div >
                                                   <select class="form-control dropdownControl" (change)="getComboTestValue(item3)"
                                                      [ngClass]="'workLoadTableButton'+item.TestIndex+item1.TestModeIndex+item3.Index"
                                                      [(ngModel)]="item3.SelectedMem">
                                                      <option *ngFor="let item4 of item3.MemTests" [ngValue]="item4">
                                                         {{item4}}
                                                      </option>
                                                   </select>
                                                </div>
                                             </td>
         
                                             <td class="comonTd" *ngIf="item1.TableData.Header.length >4">
         
                                                <div>
                                                   <select class="form-control dropdownControl"
                                                   (change)="getComboTestValue(item3)"
                                                      [ngClass]="'workLoadTableButton'+item.TestIndex+item1.TestModeIndex+item3.Index"
                                                      [(ngModel)]="item3.SelectedPMem">
                                                      <option *ngFor="let item4 of item3.PmemTests" [ngValue]="item4">
                                                         {{item4}}
                                                      </option>
                                                   </select>
                                                </div>
                                             </td>
         
                                             
                                             <td class="comonTd">
                                                <button style="min-width:80px;" *ngIf="item3.Action == 'Slider'"
                                                   [ngClass]="{'greenBtnColor':item3.ButtonName == 'Start','redBtnColor':item3.ButtonName === 'Stop','marginBtnTopFirst': workloadIndex == 0,'marginBtnTopNotFirst' : workloadIndex != 0}"
                                                   class="{{ 'workLoadSetButton'+item.TestIndex+item1.TestModeIndex+item3.Index}} btn btn-sm tableTextAllign"
                                                   (click)="workLoadStartStop('slider',item3,item.Name,item.TestIndex,item1.Name,item1.TestModeIndex)"
                                                   matTooltip={{item3.ToolTip}}
                                                   matTooltipPosition="below">{{item3.ButtonName}}</button>
                                                <button style="min-width:80px;" *ngIf="item3.Action == 'Dropdown'"
                                                   [ngClass]="{'greenBtnColor':item3.ButtonName == 'Start','redBtnColor':item3.ButtonName === 'Stop','marginBtnTopFirst': workloadIndex == 0,'marginBtnTopNotFirst' : workloadIndex != 0}"
                                                   class="{{ 'workLoadSetButton'+item.TestIndex+item1.TestModeIndex+item3.Index}} btn btn-sm "
                                                   (click)="workLoadStartStop('dropdown',item.TestIndex+item1.TestModeIndex+':'+item3.Index,item.Name,item.TestIndex,item1.Name,item1.TestModeIndex)"
                                                   matTooltip={{item3.ToolTip}}
                                                   matTooltipPosition="below">{{item3.ButtonName}}</button>
                                             </td>
                                             <td class="comonTd">
                                                <a
                                                   [ngClass]="{'text-success':item3.Status.toLowerCase() == 'running','text-danger':item3.Status.toLowerCase() == 'failed'}">
                                                   {{item3.Status}}</a>
                                             </td>
                                          </tr>
                                       
                                       </ng-container>
         
         
                                    </tbody>
                                 </table>
                              </div>
                              <div class="table workLoadTableCC" [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex" *ngIf="item1.Name == 'Combo Test'">
                                 <br>
                                 <b>Note: </b> Values for the selected Test(s) will be fetched from the respective tabs
                                 <br>
                                 <b>Selected CPU Value:<span> {{cpuvalues}}</span> </b> 
                                 <br>
                                 <b>Selected MEM Value:<span> {{memvalues}}</span></b>
                                 <br>
                                 <b>Selected PMEM Value:<span> {{pmemvalues}}</span></b>
                              </div>
         
                              <ng-container>
                                 <div style="margin-left: 5px;">
                                    <div class="row  workLoadTableCC" [ngClass]="'workLoadTableDropdown'+item.TestIndex+item1.TestModeIndex"
                                       *ngFor="let item4 of item1.TableData.Row" style="width: 100% !important;">
         
                                       <div class="col-sm-4 card curvedCorners card-padding">
                                          <label><b>Package Selection</b></label>
                                          <div class="row">
                                             <div class="col-sm-6">
                                                <label>From</label><br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item4.PackageStart"
                                                   (change)="startEndCores()">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item4.PackageData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
         
                                             <div class="col-sm-6">
                                                <label>To</label>
                                                <br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item4.PackageEnd"
                                                   (change)="startEndCores()">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item4.PackageData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-sm-4 card curvedCorners card-padding">
                                          <label>
                                             <b>
                                                Core Selection
                                             </b>
                                          </label>
                                          <div class="row">
                                             <div class="col-sm-6">
                                                <label>From</label><br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item4.CoreStart">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item4.CoreData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
         
                                             <div class="col-sm-6">
                                                <label>To</label>
                                                <br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item4.CoreEnd">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item4.CoreData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
                                          </div>
         
                                       </div>
                                       <div class=" col-sm-3 card1 curvedCorners card1-padding" style="max-height: 170px !important;
                                       border: 1px solid #80808099" *ngIf="item4.ThreadStart">
                                          <div class="fixedtop">
                                             <input id="core" type="checkbox" type="checkbox" [(ngModel)]="item4.SelectAllThread" [indeterminate]="item4.AtleastOneThreadSelected"
                                                (change)="selectedAllThreadData(item4)">
                                             <label for="core" style="margin-left: 8px;">Select Thread</label>
                                          </div>
                                          <div class="scroll" style="max-height: 110px !important;">
                                             <ul>
                                                <div class="list-style">
                                                   <li class="corevalues" *ngFor="let item6 of item4.ThreadData">
                                                      <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                         (change)="selectedThreadData(item4)"> &nbsp;
                                                      {{item6.Name}}
                                                   </li>
                                                </div>
                                             </ul>
                                          </div>
                                          
                                       </div>
         
                                       <div style="margin: 10px;" (change)="toggleStatus()">
                                          <label class="switch">
                                             <input type="checkbox" [(ngModel)]="item4.DroporCheck">
                                             <span class="slider round"></span>
                                          </label>
                                          <label class="font-italic">&nbsp;&nbsp;Dropdown / Checkbox</label>
         
                                       </div>
         
                                    </div>
         
                                    <div class="row workLoadTableCC" [ngClass]="'workLoadTableCheckBox'+item.TestIndex+item1.TestModeIndex"
                                       style=" width: 100% !important;">
         
                                       
         
                                       <div class="col-sm-4 col-md-4 card curvedCorners card1-padding"
                                          style="max-height: 170px !important;">
                                          <div *ngFor="let item5 of item1.TableData.Row">
                                             <div class="fixedtop">
                                                <input type="checkbox" [(ngModel)]="item5.PackageAllSelected" [indeterminate]="item5.AtleastOnePackageSelected"
                                                   (change)="checkUncheckAll(item5)">
                                                <label style="margin-left: 8px;">Select Package</label>
                                             </div>
                                             <div class="scroll" style="max-height: 110px !important;">
                                                <ul>
                                                   <div class="list-style">
                                                      <li [ngClass]="'cpuClicked'+item.TestIndex+item1.TestModeIndex+item6.Index"
                                                         class="list-style cpuTree"
                                                         *ngFor="let item6 of item5.PackageData; let i=index">
                                                         <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                            (click)="cpuCheckboxClicked(item6)" [indeterminate]="item6.AtleastOneCoreSelected"
                                                            (change)="isAllSelected(item5,item6,item.TestIndex+item1.TestModeIndex+item6.Index+';'+item6.Name)">&nbsp;<a style="cursor: pointer;"
                                                            (click)="cpuClicked(item6,item.TestIndex+item1.TestModeIndex+item6.Index+';'+item6.Name)">&nbsp;{{item6.Name}}</a>
                                                      </li>
                                                   </div>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-sm-4 col-md-4 card curvedCorners card1-padding"
                                          style="max-height: 170px !important;">
                                          <div class="fixedtop">
                                             <input id="core" type="checkbox" type="checkbox" [(ngModel)]="core.isSelected" [indeterminate]="core.AtleastOneCoreSelected"
                                             (change)="checkAndUnCheckCore(core)">
                                             <label for="core" style="margin-left: 8px;">Select Core</label>
                                          </div>
                                          <div class="scroll" style="max-height: 110px !important;">
                                             <ul>
                                                <div class="list-style">
                                                   <li class="corevalues" *ngFor="let item6 of core.CoreData">
                                                      <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                         (change)="isAllSelectedCore(core)"> &nbsp;
                                                      {{item6.Name}}
                                                   </li>
                                                </div>
                                             </ul>
                                          </div>
                                       </div>
                                       
         
                                    </div>
                                 </div>
         
                              </ng-container>
                           </div>

                           <div class="btnDiv workLoadTableCC"  [ngClass]="'workLoadTable'+item.TestIndex+item1.TestModeIndex">
                              <button type="button" class="btn btn-primary greenBtnColor"  (click)="addWorkLoad(item1)" >
                                 Add Workload
                              </button>
                          </div>
                        </ng-container>
                        
                     </ng-container>
      
      
                  </div>
                  
      
            </div>
            <div class="card curvedCorners workLoadCard" style="margin-top: 5px;height: calc(58vh - 153px) !important">
               <div class="card-header curvedCorners" style="padding-bottom: 7px;">
                   <h6 class="cardHeading">Selected Tests</h6>
                   <div class="card" style="height: calc(92vh - 449px);">
                       <div class="card-body statusBody">
                           <div class="bodyDataAnalysis" style="height: 84%;" >
                              <div   *ngFor = "let data of workLoadDataArray">                     
                               <span class="fa fa-times-circle" (click)="removeData(data)"style="color: red;"></span>&nbsp;&nbsp;{{data}}
                             </div>
                           </div>
                       </div>
                       
                   </div>
                   <div class="btnDiv">
                       <button type="button" class="btn btn-primary greenBtnColor" style="margin-top: -3px;">
                          Start Workload
                       </button>
                   </div>
               </div>
           </div>
         </div>
        


      </mat-sidenav-content>
   </mat-sidenav-container>
</div>