<div style="height:100%">
  <mat-sidenav-container autosize class="example-container" style="height:100%;margin-top: -15px !important;">
    <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenavColour workloadSidePanel">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
        <ul class="treeAllignment" style="cursor: pointer">
          <li *ngFor="let item of workloadArray">
            <!-- <span  (click)="expandCollapse(item)"><i [ngClass]="{'intelicon-plus': !item.expand ,'intelicon-minus': item.expand}" class="intelicon-plus"></i></span > -->
            {{item.Name}}
            <ul *ngIf="item.expand" style="list-style: none;padding:0px;cursor: pointer">
              <ng-container *ngFor="let item1 of item.DropDownList; let i = index">
                <li class="workLoadTreeCC" matTooltip={{item1.ToolTip}} matTooltipPosition="below"
                  [ngClass]="'workloadTree'+item.Index+item1.Index"
                  (click)="workLoadTree(item.Index+item1.Index+';'+item1.Name)">
                  <i class="fas fa-angle-right"></i> {{item1.Name}}
                </li>
              </ng-container>
            </ul>
          </li>
        </ul>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="workloadContent">
      <div class="sidePanelBtn sidePanelBtnAlt" (click)="sidenav.toggle();toggleIcon()">
        <i class="sidePanelIcon fas" [ngClass]="(hasClass == true)?'fa-angle-double-left':'fa-angle-double-right'"></i>
      </div>
      <div class="card curvedCorners workLoadCard" style="margin-top: -25px;">
        <div class="card-header curvedCorners">
          <h6>Workload - {{workLoadName}}</h6>
          <ng-container *ngFor="let item of workloadArray">
            <ng-container *ngFor="let item1 of item.DropDownList">
              <!-- style="height: calc(100vh - 208px) !important;" -->
              <div class="curvedCorners table-responsive workLoadTableCC workLoadDiv" id="workLoadFixHead"
                (scroll)="onScroll($event)" [ngClass]="'workLoadTable'+item.Index+item1.Index">
                <table class="table workLoadTableCC" [ngClass]="'workLoadTable'+item.Index+item1.Index">
                  <thead class="tatTableHeader">
                    <tr>
                      <ng-container *ngFor="let item2 of item1.TableData.Header">
                        <th style="border-right-color:#fff !important;z-index:2;" class="textCenter">
                          {{item2.HeaderValue}}</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item3 of item1.TableData.Row;let workloadIndex = index">
                      <tr [ngClass]="'workLoadTableRow'+item.Index+item1.Index+item3.GroupID"
                        [attr.id]="'curWLid'+item.Index+item1.Index+item3.GroupID">

                        <td class="comonTd,align-middle"
                          [ngClass]="'workLoadTableFirstRow'+item.Index+item1.Index+item3.Index"
                          style="line-height: 15px;min-height: 15px;height: 15px;padding: 0px !important;text-align: center;">
                          {{item3.Name}}
                        </td>
                        <td class="comonTd">
                          <div *ngIf="item3.Action == 'Slider'">
                            <div class="sliderDiv">
                              <a>{{item3.min}}</a>
                              <mat-slider class="matSlider" (click)="enableIndex()" [ngClass]="zindex? 'zindex':''"
                                [min]="item3.min" [max]="item3.max" [(ngModel)]="item3.slider"
                                [disabled]="item3.Status == 'Running'" thumbLabel [step]="item3.stepping"
                                tickInterval="1" class="md-subhead"></mat-slider>
                              <a>{{item3.max}}</a>
                            </div>
                          </div>
                          <div *ngIf="item3.Action == 'Dropdown'">
                            <select class="form-control dropdownControl"
                              [ngClass]="'workLoadTableButton'+item.Index+item1.Index+item3.Index">
                              <option *ngFor="let item4 of item3.DropdownValue">
                                {{item4.Data}}
                              </option>
                            </select>
                          </div>
                        </td>
                        <td class="comonTd">
                          <button style="min-width:80px;" *ngIf="item3.Action == 'Slider'"
                            [ngClass]="{'greenBtnColor':item3.ButtonName == 'Start','redBtnColor':item3.ButtonName === 'Stop','marginBtnTopFirst': workloadIndex == 0,'marginBtnTopNotFirst' : workloadIndex != 0}"
                            class="{{ 'workLoadSetButton'+item.Index+item1.Index+item3.Index}} btn btn-sm tableTextAllign"
                            (click)="workLoadStartStop('slider',item3,item.Name,item.Index,item1.Name,item1.Index)"
                            matTooltip={{item3.ToolTip}} matTooltipPosition="below">{{item3.ButtonName}}</button>
                          <button style="min-width:80px;" *ngIf="item3.Action == 'Dropdown'"
                            [ngClass]="{'greenBtnColor':item3.ButtonName == 'Start','redBtnColor':item3.ButtonName === 'Stop','marginBtnTopFirst': workloadIndex == 0,'marginBtnTopNotFirst' : workloadIndex != 0}"
                            class="{{ 'workLoadSetButton'+item.Index+item1.Index+item3.Index}} btn btn-sm "
                            (click)="workLoadStartStop('dropdown',item.Index+item1.Index+':'+item3.Index,item.Name,item.Index,item1.Name,item1.Index)"
                            matTooltip={{item3.ToolTip}} matTooltipPosition="below">{{item3.ButtonName}}</button>
                        </td>
                        <td class="comonTd">
                          <a
                            [ngClass]="{'text-success':item3.Status.toLowerCase() == 'running','text-danger':item3.Status.toLowerCase() == 'failed'}">
                            {{item3.Status}}</a>
                        </td>
                      </tr>


                    </ng-container>
                    <!-- <div *ngIf="item1.TableData.Row[0].Data.length >  0"> -->

                    <!-- </div> -->

                  </tbody>
                </table>
              </div>

              <ng-container>
                <div  
                  style="margin-left: -9px;">
                  <div class="row  workLoadTableCC" [ngClass]="'workLoadTableDropdown'+item.Index+item1.Index" *ngFor="let item4 of item1.TableData.Row" style="width: 90% !important;margin-left: 0;">
                    <!-- {{item4 | json}} -->
                    <!-- <div class="col-sm-4"> -->
                      <div class="col-sm-4 card curvedCorners card-padding">
                        <label><b>CPU Selection</b></label>
                        <div class="row">
                          <div class="col-sm-6">
                            <label>Start</label><br>
                            <select class="btn selectedBtn alertFontSize" [(ngModel)]="item4.Start">
                              <option [ngValue]="'select'" class="alertFontSize">--Select--</option>
                              <option *ngFor="let item5 of item4.Data" [ngValue]="item5.data.Name" class="alertFontSize">
                                {{item5.data.Name}}</option>
                            </select>
                          </div>
  
                          <div class="col-sm-6">
                            <label>End</label>
                            <br>
                            <select class="btn selectedBtn alertFontSize" [(ngModel)]="item4.End">
                              <option [ngValue]="'select'" class="alertFontSize">--Select--</option>
                              <option *ngFor="let item5 of item4.Data" [ngValue]="item5.data.Name" class="alertFontSize">
                                {{item5.data.Name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="col-sm-4"> -->
                      <div class="col-sm-4 card curvedCorners card-padding">
                        <label>
                          <b>
                            Core Selection
                          </b>
                        </label>
                        <!-- <div class="row" *ngFor="let item5 of item4.Data">
                          <div class="col-sm-6">
                            <label>Start</label><br>
                            <select class="btn selectedBtn alertFontSize" [(ngModel)]="item5.start">
                              <option [ngValue]="'select'" class="alertFontSize">--Select--</option>
                              <option *ngFor="let item6 of item5.children" [ngValue]="item6.data.Name" class="alertFontSize">
                                {{item6.data.Name}}</option>
                            </select>
                          </div>
  
                          <div class="col-sm-6">
                            <label>End</label>
                            <br>
                            <select class="btn selectedBtn alertFontSize"  [(ngModel)]="item5.end">
                              <option [ngValue]="'select'" class="alertFontSize">--Select--</option>
                              <option *ngFor="let item6 of item5.children" [ngValue]="item6.data.Name" class="alertFontSize">
                                {{item6.data.Name}}</option>
                            </select>
                          </div>
                        </div> -->
                      </div>
                    <!-- </div> -->
                    
                    <div style="margin: 10px;" (change)="toggleStatus()" >
                      <label class="switch">
                        <input type="checkbox"  [(ngModel)]="item4.DroporCheck" >
                        <span class="slider round"></span>
                      </label>
                      <label class="font-italic">&nbsp;&nbsp;Dropdown / Checkbox</label>
                      <!-- <p class="custom-control custom-switch custom-switch-lg">
                        <input class="custom-control-input"  type="checkbox"
                          [(ngModel)]="item4.DroporCheck" >
                        <label class="custom-control-label font-italic" >Dropdown / Checkbox</label>
                      </p> -->
                    </div>

                  </div>
                  <!-- <div class="row" style="margin-left: -9px;" id="checkboxDiv">
                    <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                      <input type="checkbox">
                      <label>Select CPU</label>
                    </div>
      
                    <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                      <input type="checkbox">
                      <label>Select Core</label>
                    </div>
      
                    <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                      <input type="checkbox">
                      <label>Select Thread</label>
                    </div>
                  </div> -->


                  <!-- <div class="col-sm-4 card curvedCorners card-padding">
                    fghjkjh
                  </div>
                  <div class="col-sm-4 card curvedCorners card-padding">
                    fghjkjh
                  </div> -->

                  <div class="row workLoadTableCC" [ngClass]="'workLoadTableCheckBox'+item.Index+item1.Index"
                  style="margin-left: 0px; width: 100% !important;" id="checkboxDiv">
                  <!-- <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                    <input type="checkbox">
                    <label>Select CPU</label>
                  </div>

                  <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                    <input type="checkbox">
                    <label>Select Core</label>
                  </div>

                  <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                    <input type="checkbox">
                    <label>Select Thread</label>
                  </div> -->
                  <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">

                    <div *ngFor="let item5 of item1.TableData.Row" style="margin-left: 24px;">
                      <ul class="list-style1">
                        <input style="margin-top: 8px;" type="checkbox" [(ngModel)]="item5.isSelected"
                          (change)="checkUncheckAll(item5)">
                        <label style="margin-left: 8px;">Select CPU</label>
                        <li class="list-style" *ngFor="let item6 of item5.Data">
                          <input type="checkbox" [(ngModel)]="item6.data.isSelected"
                            (change)="isAllSelected()">{{item6.data.Name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                    <input type="checkbox">
                    <label>Select Core</label>
                  </div>

                  <div class="col-sm-4 col-md-4 card curvedCorners card1-padding">
                    <input type="checkbox">
                    <label>Select Thread</label>
                  </div>
                </div>
                </div>
                
              </ng-container>
            </ng-container>
          </ng-container>


        </div>


      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>