<div style="height:100%">
   <mat-sidenav-container autosize class="example-container" style="height:100%;margin-top: -15px !important;">
      <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenavColour workloadSidePanel">
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
            <ul class="treeAllignment" style="cursor: pointer">
               <li *ngFor="let item of workloadArray">
                  <!-- <span  (click)="expandCollapse(item)"><i [ngClass]="{'intelicon-plus': !item.expand ,'intelicon-minus': item.expand}" class="intelicon-plus"></i></span > -->
                  {{item.Name}}
                  <ul *ngIf="item.expand" style="list-style: none;padding:0px;cursor: pointer">
                     <ng-container *ngFor="let item1 of item.DropDownList; let i = index">
                        <li class="workLoadTreeCC" matTooltip={{item1.ToolTip}} matTooltipPosition="below"
                           [ngClass]="'workloadTree'+item.Index+item1.Index"
                           (click)="workLoadTree(item.Index+item1.Index+';'+item1.Name)">
                           <i class="fas fa-angle-right"></i>{{item1.Name}}
                        </li>
                        
                     </ng-container>
                  </ul>
               </li>
            </ul>
         </div>
      </mat-sidenav>

      <mat-sidenav-content class="workloadContent">
         <div class="sidePanelBtn sidePanelBtnAlt" (click)="sidenav.toggle();toggleIcon()">
            <i class="sidePanelIcon fas"
               [ngClass]="(hasClass == true)?'fa-angle-double-left':'fa-angle-double-right'"></i>
         </div>
         <div>
            <div class="card curvedCorners workLoadCard" style="margin-top: -25px;
            height: calc(65vh - 157px) !important;">
                  <div class="card-header curvedCorners" style="background-color: rgba(0,0,0,0);
                  border-bottom: none;">
                     <h6>Workload - {{workLoadName}}</h6>
                     <ng-container *ngFor="let item of workloadArray">
                        <ng-container *ngFor="let item1 of item.DropDownList">
                           <!-- {{item1.TableData.Row.PackageCount}} -->
                           <div class="workLoadTableCC" style="height: calc(49vh - 144px); overflow: auto;" [ngClass]="'workLoadTable'+item.Index+item1.Index">
                              <!-- <div class="curvedCorners table-responsive workLoadTableCC workLoadDiv" id="workLoadFixHead"
                                 (scroll)="onScroll($event)" [ngClass]="'workLoadTable'+item.Index+item1.Index"
                                 *ngIf="item1.Note !==''">
                                 <table class="table workLoadTableCC" [ngClass]="'workLoadTable'+item.Index+item1.Index">
                                    <thead class="tatTableHeader">
                                       <tr>
                                          <ng-container *ngFor="let item2 of item1.TableData.Header">
                                             <th style="border-right-color:#fff !important;z-index:2;" class="textCenter">
                                                {{item2}}</th>
                                          </ng-container>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <ng-container *ngFor="let item3 of item1.TableData.Row;let workloadIndex = index">
                                          <tr [ngClass]="'workLoadTableRow'+item.Index+item1.Index+item3.GroupID"
                                             [attr.id]="'curWLid'+item.Index+item1.Index+item3.GroupID">
         
                                             <td class="comonTd,align-middle"
                                                [ngClass]="'workLoadTableFirstRow'+item.Index+item1.Index+item3.Index"
                                                style="line-height: 35px;min-height: 15px;height: 15px;padding: 0px !important;text-align: center;">
                                                {{item3.Note}}
                                             </td>
         
                                          </tr>
         
         
                                       </ng-container>
         
         
                                    </tbody>
                                 </table>
                              </div> -->
         
                              <ng-container>
                                 <div style="margin-left: 5px;">
                                    <div class="row  workLoadTableCC" [ngClass]="'workLoadTableDropdown'+item.Index+item1.Index"
                                        style="width: 100% !important;">
         
                                       <div class="col-sm-4 card curvedCorners card-padding">
                                          <label><b>Package Selection</b></label>
                                          <div class="row">
                                             <div class="col-sm-6">
                                                <label>From</label><br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item1.TableData.Row.PackageStart"
                                                   (change)="startEndCores()">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item1.TableData.Row.PackageData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
         
                                             <div class="col-sm-6">
                                                <label>To</label>
                                                <br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item1.TableData.Row.PackageEnd"
                                                   (change)="startEndCores()">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item1.TableData.Row.PackageData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-sm-4 card curvedCorners card-padding"  [style.display]="item1.TableData.Row.CoreData ? 'block' : 'none'">
                                          <label>
                                             <b>
                                                Core Selection
                                             </b>
                                          </label>
                                          <div class="row">
                                             <div class="col-sm-6">
                                                <label>From</label><br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item1.TableData.Row.CoreStart">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item1.TableData.Row.CoreData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
         
                                             <div class="col-sm-6">
                                                <label>To</label>
                                                <br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item1.TableData.Row.CoreEnd">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item1.TableData.Row.CoreData" [ngValue]="item5.Name"
                                                      class="alertFontSize">
                                                      {{item5.Name}}</option>
                                                </select>
                                             </div>
                                          </div>
         
                                       </div>

                                       <div class="col-sm-3 card1 curvedCorners card-padding powerLevel" *ngIf="item1.TableData.Row.powerLevel">
                                          <label>
                                             <b>
                                                Power Level
                                             </b>
                                          </label>
                                          <div class="row">
                                             <div class="col-sm-6">
                                                <label></label><br>
                                                <select class="btn selectedBtn alertFontSize" [(ngModel)]="item1.TableData.Row.powerLevel">
                                                   <option [ngValue]="'select'" class="alertFontSize">--Select--
                                                   </option>
                                                   <option *ngFor="let item5 of item1.TableData.Row.levels" [ngValue]="item5"
                                                      class="alertFontSize">
                                                      {{item5}}</option>
                                                </select>
                                             </div>
         
                                             
                                          </div>
         
                                       </div>
                                       <div id="threadSelection" class="col-sm-4 col-md-4 card1 curvedCorners card1-padding"
                                       style="max-height: 170px !important;" *ngIf="item1.TableData.Row.ThreadData">
                                       <div>
                                          <div class="fixedtop">
                                             <input type="checkbox" [(ngModel)]="item1.TableData.Row.SelectAllThread" [indeterminate]="item1.TableData.Row.AtleastOneThreadSelected"
                                                (change)="selectedAllThreadData(item1.TableData.Rowem5)">
                                             <label style="margin-left: 8px;">Select Thread</label>
                                          </div>
                                          <div class="scroll" style="max-height: 110px !important;">
                                             <ul>
                                                <div class="list-style">
                                                   <li 
                                                      *ngFor="let item6 of  item1.TableData.Row.ThreadData; let i=index">
                                                      <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                      (change)="selectedThreadData(item1.TableData.Row)"> &nbsp;
                                                   {{item6.Name}}
                                                   </li>
                                                </div>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                       <!-- remove class disabledbutton later -->
                                       <!-- <div style="margin: 10px;" (change)="toggleStatus()" class="disabledbutton">
                                          <label class="switch">
                                             <input type="checkbox" [(ngModel)]="item1.TableData.Row.DroporCheck">
                                             <span class="slider round"></span>
                                          </label>
                                          <label class="font-italic">&nbsp;&nbsp;Dropdown / Checkbox</label>
         
                                       </div> -->
         
                                    </div>
         
                                    <!-- <div class="row workLoadTableCC" [ngClass]="'workLoadTableCheckBox'+item.Index+item1.Index"
                                       style=" width: 100% !important;">
         
                                       
         
                                       <div class="col-sm-4 col-md-4 card curvedCorners card1-padding"
                                          style="max-height: 170px !important;" *ngIf="item1.TableData.Row">
                                             <div class="fixedtop">
                                                <input type="checkbox" [(ngModel)]="item1.TableData.Row.PackageAllSelected" [indeterminate]="item1.TableData.Row.AtleastOnePackageSelected"
                                                   (change)="checkUncheckAll(item1.TableData.Row)">
                                                <label style="margin-left: 8px;">Select Package</label>
                                             </div>
                                             <div class="scroll" style="max-height: 110px !important;">
                                                <ul>
                                                   <div class="list-style">
                                                      <li [ngClass]="'cpuClicked'+item.Index+item1.Index+item6.Index"
                                                         class="list-style cpuTree"
                                                         *ngFor="let item6 of item1.TableData.Row.PackageData; let i=index">
                                                         <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                            (click)="cpuCheckboxClicked(item6)" [indeterminate]="item6.AtleastOneCoreSelected"
                                                            (change)="isAllSelected(item1.TableData.Row,item6,item.Index+item1.Index+item6.Index+';'+item6.Name)">&nbsp;<a style="cursor: pointer;"
                                                            (click)="cpuClicked(item6,item.Index+item1.Index+item6.Index+';'+item6.Name)">&nbsp;{{item6.Name}}</a>
                                                      </li>
                                                   </div>
                                                </ul>
                                             </div>
                                       </div>
                                       <div class="col-sm-4 col-md-4 card curvedCorners card1-padding"
                                          style="max-height: 170px !important;"  [style.display]="core.CoreData ? 'block' : 'none'">
                                          <div class="fixedtop">
                                             <input id="core" type="checkbox" type="checkbox" [(ngModel)]="core.isSelected" [indeterminate]="core.AtleastOneCoreSelected"
                                             (change)="checkAndUnCheckCore(core)">
                                             <label for="core" style="margin-left: 8px;">Select Core</label>
                                          </div>
                                          <div class="scroll" style="max-height: 110px !important;">
                                             <ul>
                                                <div class="list-style">
                                                   <li class="corevalues" *ngFor="let item6 of core.CoreData">
                                                      <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                         (change)="isAllSelectedCore(core)"> &nbsp;
                                                      {{item6.Name}}
                                                   </li>
                                                </div>
                                             </ul>
                                          </div>
                                       </div>
                                       
                                       
                                       <div id="threadSelection" class="col-sm-3 col-md-3 card1 curvedCorners card1-padding"
                                          style="max-height: 170px !important;">
                                          <div>
                                             <div class="fixedtop">
                                                <input type="checkbox" [(ngModel)]="item1.TableData.Row.SelectAllThread" [indeterminate]="item1.TableData.Row.AtleastOneThreadSelected"
                                                   (change)="selectedAllThreadData(item1.TableData.Rowem5)">
                                                <label style="margin-left: 8px;">Select Thread</label>
                                             </div>
                                             <div class="scroll" style="max-height: 110px !important;">
                                                <ul>
                                                   <div class="list-style">
                                                      <li 
                                                         *ngFor="let item6 of  item1.TableData.Row.ThreadData; let i=index">
                                                         <input type="checkbox" [(ngModel)]="item6.isSelected"
                                                         (change)="selectedThreadData(item1.TableData.Row)"> &nbsp;
                                                      {{item6.Name}}
                                                      </li>
                                                   </div>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
         
                                    </div> -->
                                 </div>
         
                              </ng-container>
                           </div>
                           <div >
                              <div >
                                 <label style="margin-top: 15px;" class=" workLoadTableCC" [ngClass]="'workLoadTable'+item.Index+item1.Index">{{item1.Note}}</label>
                              </div>
                              <div >
                                 <div class=" workLoadTableCC" style="margin-top: -35px; float: right"  [ngClass]="'workLoadTable'+item.Index+item1.Index">
                              
                                    <button type="button" id="addWorkLoadbtn" class="btn btn-primary greenBtnColor"  (click)="addWorkLoad(item1,item)" >
                                       Add Workload
                                    </button>
                                 </div>
                              </div>
                           </div>
                           
                           
                        </ng-container>
                        
                     </ng-container>
      
      
                  </div>
                  
      
            </div>

            <!-- selected tests display -->
            <div class="card curvedCorners workLoadCard" style="margin-top: 5px;height:34vh !important">
               <div class="card-header curvedCorners" style="padding-bottom: 7px;">
                   <h6 class="cardHeading">Selected Tests</h6>
                   <div class="card" style="height:70%;">
                       <div class="card-body statusBody" style="overflow: auto;">
                           <div class="bodyDataAnalysis" style="height: 84%;" >
                              

                              <table style="width: 100%;">
                                 <thead>
                                    <tr>
                                       <th>Workload Name</th>
                                       <!-- <th>Package Start</th>
                                       <th>Package End</th>
                                       <th>Core Start</th>
                                       <th>Core End</th>
                                       <th>Selected Thread(s)</th> -->
                                       <th>Power Level</th>
                                       <th  style="width: 20%;">Status</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <ng-container *ngFor="let data of workLoadDataArray">
                                       
                                       <tr  >
      
                                         
                                          <td  >
                                             <span *ngIf="data.status == 'Failed' || data.status == 'Stopped'" class="fas fa-edit" (click)="editWorkload(data)"style="color: #595352;"></span>            
                                             <span *ngIf="data.status == 'Running'" class="fas fa-edit disabledbutton" style="color: #595352;"></span>&nbsp;&nbsp;             
                                             <span *ngIf="data.status == 'Failed' || data.status == 'Stopped'" class="fa fa-times-circle" (click)="removeData(data)"style="color: red;"></span> 
                                             <span *ngIf="data.status == 'Running'" class="fa fa-times-circle disabledbutton" style="color: red;"></span>&nbsp;&nbsp; 
                                             <span [ngClass]="{'colorSelectedTree1': data.Name === selectedWorkLoadName}">{{data.Name}}</span> 
                                             
                                          </td>
                                          <!-- <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td> -->
                                          <td >
                                             {{data.powerLevel}}
                                          </td>
                                          <td style="width: 20%;">
                                             <span *ngIf="data.status == 'Running'" class="fas fa-stop-circle" (click)="stopIndvWorkload(data)"style="color: red;"></span>            
                                             <span *ngIf="data.status == 'Failed' || data.status == 'Stopped'" class="fas fa-play-circle" (click)="startIndvWorkload(data)"style="color: green;"></span>
                                             
                                             <a
                                                [ngClass]="{'text-success':data.status == 'Running','text-danger':data.status == 'Failed'}">
                                                &nbsp;&nbsp; {{data.status}}
                                             </a>
                                             
                                          </td>
                                          
                                       </tr>
                                    
                                    </ng-container>
      
      
                                 </tbody>
                              </table>
                           </div>
                       </div>
                   </div>
                   
                   <div class="">
                    <span style="font-weight: bold;margin-top: 1px;color:red"> {{startWorkloadErrorMsg}}</span>
                       <button (click)="startAllWorkload()" type="button" class=" {{'startstopworkload'}} btn btn-primary greenBtnColor btnDiv" style="margin-top: 1px;">
                          Start Workload
                       </button>
                   </div>
               </div>
           </div>
         </div>
        
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>

<div class="modal popupBackgroundColor"  [style.display]="showWorkloadModal ? 'block' : 'none'">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header" style="padding: 7px;">
         <i style="color:#FFF000" class="fas fa-exclamation-triangle"><label style="color:#fff;padding-left: 5px;" class="modal-title">Warning</label></i>
         <button type="button" class="close" data-dismiss="modal" (click)="closeWorkloadWarningModal()">&times;</button>
       </div>
     
       <div class="modal-body" style="padding: 10px;margin-top: 5px;">
         <label>Workloads like {{workLoadName}} needs atleast One Package to be Selected!</label>
        </div> 
     
       <div class="modal-footer" style="padding: 5px 10px 5px 10px;">
           <button type="button" class="col-2 col-md-1 btn greenBtnColor" (click)="closeWorkloadWarningModal()" data-dismiss="modal">Close</button>
       </div>
       
     </div>
   </div>
 </div>