<div *ngIf="tableError" id="tableError">
  <div class="alert alert-danger" role="alert">
    {{tableErrorName}} already added in table!!!
  </div>
</div>
<div class="row" style="margin-bottom:-2px;margin-top: -29px; width:98%; margin-left:30px;height:44px;">
<!-- Duplicate table data error starts here --> 

<!-- Duplicate table data ends here -->
 <!-- <div class="col-9 col-sm-8 col-xs-8 col-md-10 col-lg-10 col-xl-10" style="padding-left:1px; padding-right: 0px;">

    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 inlineBlock nopadding nomargin" style="float: left; margin-top:-10px !important; padding-left:20px !important;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
            <label class="moduleNameColor  nopadding nomargin">Monitor</label>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin" styale="margin-top: -7px !important; margin-left: -2px !important;">
          
          <mat-form-field class="componentInfo" *ngIf="hideComponentDropDown == false">
              <select class="fontSizeLess600" matNativeControl [(ngModel)]="selectedContainer" (change)="showAccordingly(selectedContainer)" style="padding:0px 0px 0px 0px;z-index:1;-webkit-appearance:auto;"><option class="fontSizeLess600" *ngFor="let item1 of componentData" [ngValue]="item1.pluginName">{{item1.pluginName}}</option>
            </select>
          </mat-form-field>

        </div>
    </div>

    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 inlineBlock" >
    
    <ng-container *ngFor="let item1 of componentData"> 
        <div *ngIf="selectedContainer === item1.pluginName" style="height: 105px;overflow-y: hidden;">
          <ng-container *ngFor="let item2 of item1.Information">
               <label class="blockStyle componentInfo fontSizeLess600" [innerHTML]="item2.value"></label>
          </ng-container>
      </div>
    </ng-container>

    </div>

  </div>



  

<!--#############################-- TAB CONTENT STARTS HERE --################################################################-->

<mat-tab-group class="col-4 col-md-7 col-sm-7" [(selectedIndex)]='selectedIndex' (selectedTabChange)="onLinkClick($event)" id="monitorViewsTabHeader" style="color:#525252;padding: 0px;">
  <mat-tab  #firstTab>
      <ng-template mat-tab-label>
          <div (click)="setTab('list')">
            <mat-icon class="fas fa-list monitorViews"></mat-icon>
            List View
          </div>
        </ng-template>
  </mat-tab>
  <mat-tab  #secondTab>
      <ng-template mat-tab-label>
          <div (click)="setTab('grid')">
          <mat-icon class="fas fa-th-large monitorViews"> </mat-icon>
            Grid View
          </div> 
       </ng-template>      
  </mat-tab>
  <!--<mat-tab  #thirdTab >
      <ng-template mat-tab-label>
          <div (click)= "setTab('custom')">
              <mat-icon class="intelicon-compose monitorViews"></mat-icon>
              Custom View
          </div> 
      </ng-template>
  </mat-tab>-->
  <mat-tab #fourthTab *ngIf="showHideTabularView == true">
      <ng-template mat-tab-label >
          <div (click)= "setTab('Tabular')">
              <mat-icon class="intelicon-grid"></mat-icon>
              Tabular View
          </div>
      </ng-template>
  </mat-tab>
  
  </mat-tab-group>
  <div id="monitorBtns" class="col-8 col-md-5 col-sm-5 float-right margintop10" style="padding-left:0px !important">
    <button type="button" class="btn logButton" style="float:right;margin-right:6px; padding:6px !important;"  [disabled]="btnFlag1 && loggingstatus == true" (click)="startLoggingClick()" [ngClass]="loggingstatus ? 'greenBtnColor' : 'redBtnColor'" >{{ loggingstatus == true ? 'Start Logging' : 'Stop Logging' }}</button>  
    <button type="button" class="btn startButton" style="float:right;margin-right:10px; padding:6px !important;" [disabled]="btnFlag"  (click)="startMonitorClick()" [ngClass]="monitorstatus ? 'greenBtnColor' : 'redBtnColor'">
            {{ monitorstatus == true ? 'Start Monitor' : 'Stop Monitor'}} 
    </button>        
  </div>
</div>
  <div class="tabbedContainers cardColor curvedCorners" [ngStyle]="{'display':!firstTab.isActive ? 'none' : null}" >
    <div class="monitorTableDiv curvedCorners monitorFixHead" id="controltable" style="width: 98%;background:white; ">
      <table class="table">
          <thead  class="tatTableHeader">
            <th class="thBorderColor">Component</th>
            <th class="thBorderColor">Type</th>
            <th class="thBorderColor">Value</th>
          </thead>
          <tbody>
          <ng-container *ngFor="let parent of dataArr">
            <ng-container *ngFor="let item of parent.Treelist">  
                <ng-container *ngFor="let item1 of item.Treelist">
                  <tr *ngFor="let item2 of item1.SubTreeList"  [hidden]="!item2.isSelected"> 
                    <td [ngClass]="'listViewFirstRow'+ item2.Index">{{item1.Name}}</td>
                    <td [ngClass]="'listViewSecondRow'+ item2.Index">{{item2.Name}}{{item2.unit}}</td>
                    <td class="naCommonClass" [ngClass]="'monitorValue'+ item2.Index">NA</td>
                  </tr>
                </ng-container>
            
            </ng-container>
          </ng-container>
          </tbody>
      </table>
  </div>
</div>

<div class="tabbedContainers cardColor curvedCorners" [ngStyle]="{'display':!secondTab.isActive ? 'none' : null}" >
<div class="customViewScroll">
    <div class="container1" >
        <ng-container *ngFor="let supparent of dataArr">
            <ng-container *ngFor="let parent of supparent.Treelist">
               <ng-container *ngFor="let item of parent.Treelist">

      <div class="monitorTableDiv equalspacing" id="{{item.Name}}" [hidden]="!checkChildStatus(item)">
          <table class="tablegrid">
              <thead class="tatTableHeader handle cf ui-draggable-handle" style="cursor:move;">
                  <!-- <tr></tr> -->
                  <tr class="headerColor" style="border-radius: 7px 7px 0px 0px;height: 40px;">
                      <th class="gridViewHeaderFont" style="padding: 5px 0px 5px 3px;border-radius: 7px 0px 0px 0px;max-width:100px !important">{{parent.Name}} </th>
                      <th class="gridViewHeaderFont" style="padding: 5px 0px 5px 0px;min-width:85px !important;">{{item.Name}} </th>
                      <th class="gridViewHeaderFont" style="padding: 16px 7px 5px 1px;border-radius: 0px 7px 0px 0px;min-width:13px !important;"><span (click)="minimizeTable(item.Name,parent.Index,item.Index)" class="intelicon-minus-max" style="float: right; line-height: 0; cursor: pointer;padding-bottom: 10px;"></span></th>
                    </tr>
                </thead>
                <tbody>
                  <td class="tablesubheader" style="padding: 0.20rem !important;">Type</td>
                  <td class="tablesubheader" style="padding: 0.20rem !important;">Value</td>
                  <td class="tablesubheader" ></td>
                    <ng-container *ngFor="let item3 of item.SubTreeList">
                    <tr *ngIf="item3.isSelected" style="border-bottom: 1px solid #AEAEAE;height: 40px;">
                      <td style="padding: 5px 0px 5px 3px;background-color: #fff;">{{item3.Name}}{{item3.unit}}</td>
                      <td style="padding: 5px 0px 5px 10px;background-color: #fff;" class="naCommonClass" [ngClass]="'monitorValue'+ item3.Index">NA</td>
                      <td style="background-color: #fff;"></td>
                    </tr>
                    </ng-container>
                  </tbody>
          </table>
       </div>
      </ng-container>
      </ng-container>
      </ng-container>
   </div>
   </div>
   <div id="minimizeFoot">
    <div id="maximizeDiv"  style="cursor: pointer;">
    </div>
  </div>
</div>

<!-- DO NOT DELETE --- REQUIRED IN FUTURE
  <div class="tabbedContainers cardColor curvedCorners" [ngStyle]="{'display':!thirdTab.isActive ? 'none' : null}" >
  <div *ngIf="table1Data.length == 0 && table2Data.length == 0 && table3Data.length == 0">
    </div>
    <div class="row customViewScroll" style="padding:2px;">
      <div class="col-4" style="padding:2px;">
          <div class="table1ShowHide nopadding" cdkDropList id="table1"  cdkDropListConnectedTo="treeMenu" (cdkDropListDropped)="drop123($event)" >
              <table class="table table-bordered fontSizeLess600" [hidden]="showHidden1table">
                <thead id="firstHead">
                  <tr>
                    <th colspan = "3">Table-1</th>
                  </tr>
                </thead>
                <thead id="secondHead">
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Value</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr *ngFor="let l of table1Data; let i = index" cdkDrag draggable="true">
                    <td>{{l.pName}} {{l.name}}{{l.unit}}</td>
                    <td  class="{{'monitorValue'+ l.index}} naCommonClass">NA</td>
                    <td><span class="intelicon-close-solid" id="removeIcon" (click)="deleteList(i,'table1')"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
      <div class="col-4" style="padding:2px;">
          <div class="table2ShowHide nopadding" cdkDropList id="table2"  cdkDropListConnectedTo="treeMenu" (cdkDropListDropped)="drop123($event)">
              <table class="table table-bordered" [hidden]="showHidden2table" >
                <thead id="firstHead">
                  <tr>
                    <th colspan="3">Table-2</th>
                  </tr>
                </thead>
                <thead id="secondHead">
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Value</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let l of table2Data; let i = index" cdkDrag draggable="true" >
                    <td>{{l.pName}} {{l.name}}{{l.unit}}</td>
                    <td   class="{{'monitorValue'+ l.index}} naCommonClass">NA</td>
                    <td><span class="intelicon-close-solid" id="removeIcon" (click)="deleteList(i,'table2')"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
      <div class="col-4" style="padding:2px;">
          <div class="table3ShowHide nopadding" cdkDropList id="table3"  cdkDropListConnectedTo="treeMenu" (cdkDropListDropped)="drop123($event)">
              <table class="table table-bordered" [hidden]="showHidden3table" >
                  <thead id="firstHead">
                    <tr>
                      <th colspan="3">Table-3</th>
                    </tr>
                  </thead>
                  <thead id="secondHead">
                      <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                  <tbody>
                    <tr *ngFor="let l of table3Data; let i = index" cdkDrag draggable="true">
                      <td>{{l.pName}} {{l.name}}{{l.unit}}</td>
                      <td  class="{{'monitorValue'+ l.index}} naCommonClass">NA</td>
                      <td><span class="intelicon-close-solid" id="removeIcon" (click)="deleteList(i,'table3')"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
      </div>
    </div>
</div>
 DO NOT DELETE --- REQUIRED IN FUTURE  -->

<div class="tabbedContainers cardColor curvedCorners" id="scrollCommon" *ngIf="showHideTabularView == true">
  <div  class="monitorFixHead">
    <table class="table table-bordered">
          <thead  class="tatTableHeader">
            <th class="thBorderColor">Component</th>
            <th class="thBorderColor">Rail Name</th>
            <th class="thBorderColor">Current(mA)</th>
            <th class="thBorderColor">Voltage(mV)</th>
            <th class="thBorderColor">Power(mW)</th>
            <th class="thBorderColor">Mode</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of dataArr">
              <ng-container *ngFor="let parent of item.Treelist">
                <ng-container *ngFor="let item1 of parent.Treelist">
                  <ng-container *ngIf="parent.Name == 'WarrenCove Component' || parent.Name == 'CastroCove Component' || parent.Name == 'PowerMeter Component'" >
                    <tr *ngIf="checkChildStatus(item1)"> 
                      <td>{{parent.Name}}</td>
                      <td>{{item1.Name}}</td>
                      <td *ngFor="let item2 of item1.SubTreeList" class="naCommonClass"  [ngClass]="'monitorValue'+ item2.Index">NA</td>
                    </tr>
                    </ng-container>
              </ng-container>
             </ng-container>
            </ng-container>
        </tbody>
        </table>
  </div>
</div>

<!--#############################-- TAB CONTENT ENDS HERE --##################################################################-->
<!-- Maximize/Minimize code starts here -->
<!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nomargin nopadding"></div> -->

<!-- Maximize/Minimize code Ends here -->


<!-- startStop monitor logging common popup starts -->
<div class="modal popupBackgroundColor" id="tatFeatureModal"  [style.display]="showMonitorLogginModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
    
      <div class="modal-header" style="padding: 7px;z-index: 20;">
        <i style="color:#FFF000" class="fas fa-exclamation-triangle"><label style="color:#fff;padding-left: 5px;" class="modal-title">Warning</label></i>
        <button type="button" class="close" data-dismiss="modal" (click)="closeMonitorLogginModal()">&times;</button>
      </div>
    
      <div class="modal-body" style="padding: 10px;margin-top: -10px;height: 180px;overflow-y: auto;">
        <label><i style="color:orange" class="fa fa-exclamation-circle "></i>  If<strong> Intel SGX </strong>is supported and enabled, please expect power error reporting due to this feature. While it is safe to enable this feature, it is recommended to disable the SGX feature in BIOS to avoid known power reporting errors during your PTAT system characterizations.</label>
        <label><i style="color:orange" class="fa fa-exclamation-circle "></i>  If <strong>VBS </strong>is enabled on the system, some parameters may read as "Invalid". Please disable VBS while running PTAT.</label>
        <label><i style="color:orange" class="fa fa-exclamation-circle "></i>  PTAT reads some parameters from <strong>Mailbox interface</strong>. When this interface is accessed simultaneously by PTAT and any other software, then PTAT may sometimes show abnormal values e.g. negative or big numeric number. Users are advised to ignore such values and continue with their debug with normal values. Please refer to "Known issues and cannot be fixed" section in PTAT help doc for full list of the parameters that are affected.</label>
      </div>
    
      <div class="modal-footer" style="padding: 5px 10px 5px 10px;">
          <div id="checkboxDiv" class="col-11 form-check" style="margin:0px !important; overflow:hidden;">
            <div class="col-2 checkboxParent">
              <input class="form-check-input col-2" [(ngModel)]="showHideStartLoggingCheckBoxStatus" style="float: left! important;" type="checkbox"  value="" id="defaultCheck1">
            </div>
            <div class="col-10">
              <label class="form-check-label col-10" style="float: left! important;padding-left: 1px;">
                Do not show this dialog again
              </label>
            </div>
          </div>
          <button type="button" class="col-1 btn greenBtnColor" style="margin:0px !important;" (click)="closeMonitorLogginModal()" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
<!-- startStop monitor logging common popup ends -->
