
.costomPopupBackground{
    position: absolute !important;

  } 
#carouselExampleControls{
  background-color: #204554;
  border-radius: 7px;
  color: white !important;
  }

  .carousel{
    margin-top: 10px;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    top: 50%;
  }

  
  .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    line-height: 6px;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: unset;
    cursor: pointer;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    transition: opacity .6s ease;
  }
  .carousel-control-prev, .carousel-control-next{
    opacity: 10 !important;
  }

  .modal-footer {
    flex-wrap: inherit;
  }

  h6{
    color:white !important;
  }

  .checkboxParent{
    padding-bottom: 2px;
  }

  @media only screen and (max-width: 650px) {
    #checkboxDiv{
      padding-left:45px !important;
    }
    .checkboxParent{
      padding-bottom: 5px;
    }
  }