/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*
.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 98%;
    align-items: stretch;
    margin-left: 13px;
}


#sidebar.active {
    /* margin-left: -298px; */
    margin-left: -315px;
    margin-right: 17px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    margin-top:0px;
    min-height: 100%;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 7px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        /* margin-left: -298px; */
        margin-left: 1px;
    }
    #sidebar.active {
        /* margin-left: 0; */
        margin-left: -315px;
        margin-right: 17px;
    }
    #sidebarCollapse span {
        display: none;
    }
    /* .btnslide{
        margin-left:-6% !important;
    } */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color:#005EB7;
}

.custom{
    margin-left: -1% !important;
   color:#000000 !important;
}


.TATMainContentLeft{
   /* background: linear-gradient(to top, #005b85,#00c7fd );*/
    color: #FFF;
    height: 33px;
   /*margin-bottom: -45px;*/
    box-shadow: 12px 0px 8px -8px rgba(0,0,0,0.75);
    position: relative;
    z-index: 6;
    margin-top: 3px;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
   /* background: linear-gradient(to top, #005b85,#00c7fd );*/
    font-size: 18px !important;
    border: 0px;
    font-weight: bold !important;
    z-index: 11 !important;
    /* margin-top: 20px; */
}

.horizontalNavUl{
    height: 45px;
    /* background: #f3f3f3; */
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* -webkit-overflow-scrolling: touch; */
}

.horizontalNavItem {
    display: inline-block;
    width: 250px;
    height: 100%;
    /* outline: 1px dotted gray; */
    /* padding: 1em; */
    box-sizing: border-box;
    font-size: 13px;
    z-index: 0;
    /* margin-top: -14px; */
    overflow: hidden;
}

.componentlisticon {
    min-width: 73px!important;
    /* min-height: 73px!important; */
    /* padding-top: 10px; */
    text-align: center;
    width: 100%;
    cursor: pointer;
    float: none !important;
    padding-top: 11px;
    border-right-style: groove !important;
    border-right-width: 2px !important;
    height: 45px !important;
}

.right-paddle {
    right: 0;
}

.left-paddle {
    left: 0;
}

.horizontalNavDiv {
    position: relative;
    height: 45px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(100% - 90px);
    left: 45px;
}

.buttonNav {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.btnslide:focus {
    box-shadow: none !important;
}

/* ::ng-deep .TATMainContentLeft .mat-tab-label {
    color:#FFFFFF !important;
    opacity: 1 !important;
    height :40px !important;
} */

::ng-deep .TATMainContentLeft .mat-ink-bar{
   /* background-color:#FFFFFF !important;*/
}

::ng-deep .TATMainContentLeft .mat-tab-header-pagination .mat-tab-header-pagination-chevron{
   /* border-color:#FFFFFF !important;*/
}

::ng-deep .TATMainContentLeft .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron{
    /*border-color:#808080 !important;*/
}

::ng-deep .TATMainContentLeft .mat-icon{
    height:12px !important;

}
/* License*/

.licenseheader{
	color:#525252;
	padding-bottom: 8px;
	display: block;
	font-weight:bold;
	font-size:14px !important;
	padding-bottom: 8px;
}

#mainHeader{
    /*background: linear-gradient(to top, #2c3e50 , #3498db) !important;*/
    color: #FFF;
   /* box-shadow: 12px 0px 8px -8px rgba(0,0,0,0.75);*/
    z-index: 10;
}

/*Version No*/
#versionNo
{
    padding-left: 2px;
    color: #fbd769;
    font-size: 13px;
}

.showlicenceagreement {
       margin: 10px;
       margin-top: 11px;
       font-size: 13px;
       padding: 15px 15px !important;
       border: solid 1px #fff;
       border-radius: 10px;
       color: #525252;
       min-height: calc(100vh - 80px);
       background: white;
       box-shadow: -1px 2px 11px 6px rgba(0,0,0,0.75);
       overflow-y: auto;
}

.btnRighLic
{
    margin-right: 5px;
}

#wrapperFixed{
    height: calc(100vh - 135px)!important;
    margin-top: 90px!important;
} 
@media only screen and (max-width: 600px) {
    #wrapperFixed{
        margin-top: 82px!important;
    }
  }


::ng-deep #tatHeaderMenu > mat-tab-header{
    height: 33px!important;
}

.monitorIconColor{
    color:rgba(247, 183, 80, 1) ;
}

.alertIconColor{
    color:rgba(241, 111, 85, 1);
}

.workloadIconColor{
    color:aquamarine !important;
}

.controlIconColor{
    color:rgb(104, 216, 84) !important;
}

.scriptIconColor{
    color: rgba(250, 143, 244, 1) !important;
}


.graphIconColor{
    color: rgba(247, 230, 80, 1) !important
}

.liveAnalysisIconColor{
    color:moccasin !important;
}

.offlineanalysisicon {
    color: antiquewhite !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important;
}

/* ::ng-deep .mat-form-field-underline {
    display: none !important;
} */

 ::ng-deep .TATMainContentLeft .mat-tab-label {
    color:#FFFFFF !important;
    opacity: 1 !important;
    /*border-right: 2px solid #bca530 ! important;*/
    height:34px!important;
    z-index: 8;
    font-size: 13px;
}

::ng-deep .mat-tab-label{
    font-size: 13px;
}


::ng-deep .TATMainContentLeft .mat-ink-bar{
    background-color:#FFFFFF !important;
    height: 0px;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active{
    /* background-color: #095d7e!important; */
    background: white;
    color: #525252 !important;
    padding: 0px ! important;
    border-radius: 7px 7px 0px 0px;
    height: 29px !important;
    margin-top: 3px;
    border-bottom: 1px solid white;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-info-circle{
    color: #7D3C98 !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-desktop{
    color: #8BAE46 !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-bell{
    color: #FF5662 !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-dumbbell{
    color: #708541 !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-sliders-h{
    color: #C98F00 !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-chart-bar{
    color: #548FAD !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-file-code{
    color: #E96115 !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-chart-line{
    color: #00C7FD !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-chart-area{
    color: red !important;
}

::ng-deep .TATMainContentLeft .mat-tab-label-active .fa-check-square{
    color: #2f648b !important
}


::ng-deep .TATMainContentLeft .mat-tab-label{
    padding: 0px ! important;
}

.componentPageHeight{
    height:calc(100vh - 120px)!important;
}

.newDropDown label{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  


/* New CSS Starts Here */
sub{
    color: #FF8F51 ;
      font-size: 13px;
  }
  .versionNo{
      padding-left: 5px;
      color: #7BDEFF !important ;
      font-size: 13px;
      margin-top: 17px;
  }
  
  .newHeadertitle{
    margin-left: 65px !important;
  }
  .logoImageNew{
    width: auto !important;
    background-color: #00449C !important;
    left: 0px !important;
    height: 100%;
    top: 0px;
    position: absolute;
    padding-right: 20px !important;
    max-width: 80px;
  }
  .spaceOfImg{
    /* height: 30%;
    width: 19%;
    margin-left: 13%; */
    height: 30%;
      width: 20%;
      position: absolute;
  }
  #logoImg{
    /* height: 40%;
    margin-left: 9%;
    margin-top: 23%; */
    height: 40%;
      margin-left: 23%;
      margin-top: 30%;
  }
  .navbar-light a.navbar-brand {
    color: white;
  }
  .fa-bars{
    float: right;
    color: white;
    margin-top: 3px;
    font-size: 17px;
    cursor: pointer;
  }
  .rightPart{
    margin-right: 10px;
    display: inline-flex;
  }
  
  .newDropDown{
    margin-left: calc(100% - 190px) !important;
  }
  .newDropDown .dropdown-item{
    padding-left: 16px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color:white;
  }
  /* header menu Drop Down Style starts */
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    /*top: 0;
    left: -96%;
    margin-top: -6px;
    margin-left: 25px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    width:170px;*/
    top: 0;
    left: -97%;
    margin-top: -9px;
    /* margin-left: 25px; */
    border-radius: 0 6px 6px 6px;
    width: 170px;
    border-radius: 7px;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;  
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color:white;
    margin-top: 8px;
    margin-right: -14px;
  }
  
  .dropdown-submenu:hover>a:after {
    border-left-color:#0168B6;
  }
  
  .dropdown-submenu.pull-left {
    float: none;
  }
  
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  /* header menu Drop Down Style ends */

  @media only screen and (max-width: 650px) {  
    .wrapper{
        width: 97%;
    }  
    .licenseheader{        
        font-size:11px !important;
    }
    /* ::ng-deep .mat-tab-label{
        font-size: 9px;
    }
     */
    /* ::ng-deep .TATMainContentLeft .mat-tab-label {
        color:#FFFFFF !important;
        opacity: 1 !important;
        height:34px!important;
        z-index: 8;
        font-size: 13px;
    } */
}


.fixed-top {
    z-index: 99 !important;
  }