<div class="systemInfo">
    <mat-sidenav-container autosize class="example-container" style="height:100%;margin-top: -15px !important;">
        <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenavColour workloadSidePanel">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
            <ul  class="treeAllignment" style="cursor: pointer">
              <li *ngFor="let item of systemInfoTree" [ngClass]="activeTreeNodeName == item?'activetreeNode':''" (click)="createTableDataForSystemInfo(item)">
                <i class="fas fa-angle-right"></i> {{item}}   
              </li> 
            </ul>
          </div>
        </mat-sidenav>
        <mat-sidenav-content class="workloadContent">
          <div class="sidePanelBtn sidePanelBtnAlt"  (click)="sidenav.toggle();toggleIcon()">
            <i class="sidePanelIcon fas fa-angle-double-right" *ngIf="!toggleIconRightLeft"></i>
            <i class="sidePanelIcon fas fa-angle-double-left" *ngIf="toggleIconRightLeft"></i>
          </div>
          <div class="card curvedCorners workLoadCard" style="margin-top:-30px;">
            <div class="card-header curvedCorners">
                <div class="fixingHeader">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Information</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let item of systemInfoTableData">
                               <td  [innerHTML]="item.value"></td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </mat-sidenav-content>
    </mat-sidenav-container> 
</div>
