
<div class="modal popupBackgroundColor" id="tatFeatureModal"  [style.display]="showTatFeatureModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
    
      <div class="modal-header" style="padding: 7px;">
        <i style="color:#FFF000" class="fas fa-lightbulb fa-x iconColor"><label style="color:#fff;padding-left: 5px;" class="modal-title">PTAT Features</label></i>
        <button type="button" class="close" data-dismiss="modal" (click)="closeTatFeatureModal()">&times;</button>
      </div>
    
      <div class="modal-body" style="padding: 10px;margin-top: -10px;height: 180px;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
           
           <li data-target="#carouselExampleControls" *ngFor="let hero of tatFeatureData;let i = index;first as isFirst" [ngClass]="{ 'active' : i==slideToShow}"  attr.data-slide-to="{{i}}"></li>
          
          </ol>
          <div class="carousel-inner" style="height: 150px;">
            <div class="carousel-item align-items-center" *ngFor="let individualData of tatFeatureData;let i = index;first as isFirst" [ngClass]="{ 'active' : i==slideToShow}">
              <div class="carousel-caption" style="margin-top:43px ! important">
                <label>{{individualData}}</label>           
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" style="color:#525252 !important;" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color:#525252 !important;"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" style="color:#525252;" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="color:#525252;"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    
      <div class="modal-footer" style="padding: 5px 10px 5px 10px;">
            <div id="checkboxDiv" class="col-11 form-check" style="margin:0px !important; overflow:hidden;">
             <div class="col-2 checkboxParent">
              <input class="form-check-input col-2" [(ngModel)]="showHideTatFeatureCheckBoxStatus" style="float: left! important;" type="checkbox"  value="" id="defaultCheck1">
             </div>
             <div class="col-10">
              <label class="form-check-label col-10" style="float: left! important;padding-left: 1px;">
                Do not show this dialog again
              </label>
             </div>
            </div>
            <button type="button" class="col-1 btn greenBtnColor" style="margin:0px !important;" (click)="closeTatFeatureModal()" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
