<!-- The Modal -->
<div class="modal fade show popupBackgroundColor" [ngStyle]="{'display': display}" role="dialog"
 aria-hidden="true" data-backdrop="false" data-keyboard="false">

  <div class="modal-dialog modal-md maxModalWidth">
    <div class="modal-content">

<div class="modal-header">
  <label class="modal-title text-white">Load Scripts</label>
  <button type="button" class="close" aria-label="Close"  (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div>
<div class="modal-body">
    <div>       
        <div class="form-group row margin5">
          <label for="inputpolltime" class="col-sm-4 col-form-label"><h6>File path</h6></label>
          <a class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></a>
          <input type="text" [(ngModel)]="loadScriptFilePath"  [disabled]="disableLoadScriptPath" class="col-7 col-sm-7 form-control" > 
        </div>
      </div>
      <div [formGroup]="loadForm">       
        <div class="form-group row margin5">
          <label class="col-sm-4 col-form-label"><h6>Select Script file to Load</h6></label>
          
             <!--<button type="button" class="form-control col-sm-1 btn btnColor text-white" (click)="refreshForm()" style="margin-right: 5px; max-width: 50px;"><i class="fas fa-sync"></i></button>-->
             <a class="col-1 col-sm-1" (click)="refreshForm()" style="padding: 8px 15px 0px 0px;"><i class="fas fa-sync"></i></a>
                     
            <select class="col-sm-7 form-control" formControlName="filesVal" style="margin-right: -5px;">
                <option *ngFor="let option of loadFilestArr"  [ngValue]="option.Data" >
                  {{option.Data}}
                </option>
          </select>
         
        </div>
      </div>


</div>
<div class="modal-footer">
  <button type="submit greenBtnColor" [disabled]="loadScriptLogFileCount == 0" class="btn popupButtonColour text-white" (click)="submitLoadForm()">Ok</button>
</div>
</div>
</div>



  </div>
</div>
