
.example-box {
    cursor: move;
}

.example-box input[type="checkbox"] {
    cursor: pointer;
}



#btnSpc {
    margin-right: 10px;
}

#fixLeft {
   /* margin-left: -30px;*/
   
}

#commonAlig {
    left: 10px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}


.stopBtn {
    color: #fff !important;
    width: 115px !important;
    box-shadow: none ! important;
    font-weight: 500!important;
}



/* tbody {
    display: block;
    
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tableFixHead {
    position: relative;
} */

.btngroup {
    float: left;
   /* position: absolute;*/
   /* bottom: 30px;*/
}

.scriptBtn {
    min-width: 106px !important;
}

@media (min-width:1536px) {
    .scriptBtn {
        margin-right: 150px;
        width: 200px !important;
    }
}

@media (max-width:1535px) and (min-width:935px) {
    .scriptBtn {
        margin-right: 80px;
        width: 150px !important;
    }
}

@media (max-width:934px) and (min-width:801px) {
    .scriptBtn {
        margin-right: 40px;
        padding: 5px;
        width: 150px !important;
        
    }
}

@media (max-width:800px) and (min-width:421px) {

    #commonAlig {
        overflow: auto;
        height: calc(100% - 50px);
       
    }
    .tableFixHead {
        overflow-x: auto;
    }
    /* table, 
    thead th,
    tbody td {
        width: 100px;
    } */
    .scriptBtn {
        margin-right: 10px;
        padding:2px;
        font-size: 13px;
    }
}

@media (max-height:650px) and (min-height:500px) {
    #commonAlig {
        overflow: auto;
      /*  height: calc(100% - 150px);*/
    }
    .tableFixHead {
        overflow-x: auto;
    }
    /* table,
    thead th,
    tbody td {
    } */
}

@media only screen and (max-width: 420px) {
    #commonAlig {
        overflow: auto;
        height: calc(100% - 50px);
    }
    .tableFixHead {
        overflow-x: auto;
    }
    /* table,
    thead th,
    tbody td {
        width: 100px;
        font-size: 11px !important;
    } */
    Button {
        font-size: 11px!important;
    }
    .scriptBtn {
        margin-right: 0;
        padding: 3px;
        font-size: 11px !important;
    }
    .btngroup {
        padding-left: 0;
    }
}

.scriptLabel{
    padding-left:50px !important;
    padding-right: 0px !important;
    padding-top: 7px !important;
}

#myTable{
    margin-bottom: 5px !important;
}


.red{
    color:red;
}


/* New PTAT Css starts Here */
.scriptCard{
    width: calc(100vw - 46px);
    margin-left: 10px;
    height: calc(100vh - 160px);
}
.mainCardHeader{
   /* height: calc(100vh - 160px);
    min-height: calc(100vh - 159px);
    max-height: calc(100vh - 159px);*/
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 7px;
    /*margin: 0px 7px 10px;*/
}
.customFontColor{
    font-weight: bold !important;
    font-style: italic !important;
    margin-top: -6px;
}

hr{
    width: 103.5%;
    height: 0.4px;
   /* background: #757575;*/
    margin-left: -1.7%;
    margin-top: -2px;
}
.custom2row{
    width: 102%;
    margin-top: -14px;
    margin-bottom: -14px;
}
.addbtn, .resetbtn{
    min-width: 80px !important;
}
.addbtn{
    margin-right: 5px !important;
}
#exitAlert{
    margin-top : 7px !important;
    font-weight: bolder;
    font-size: small;
}
.col2{
    margin-top: 3px;
}
.customForm{
    margin-top: -11px;
}

.tableData{
    margin-top: 9px;
    height: calc(100vh - 423px) !important;
    border: 0.5px solid #AEAEAE;
    border-radius: 7px;
    background-color: white !important;
    overflow-y: auto;
}
.tableData thead th { 
    position: sticky; top: 0; 
}
.formRow2{
    margin-top: -7px !important;
}
.tableData table th:first-child{
    border-radius:7px 0 0 0;
  }
  
.tableData table th:last-child{
    border-radius:0 7px 0 0;
  }
  .tableData .table th, .table td{
      border-top: none;
  }
.btn-toolbar{
    float: right !important;
    margin-top: 4px;
}
.btnGrp button{
    min-width: 106px !important;
}
.btnGrp button:nth-child(1){
    margin-right: 5px !important;
}
.btnGrp button:nth-child(2){
    margin-right: 5px !important;
}
.btnGrp button:nth-child(3){
    margin-right: 5px !important;
}
.card1{
    min-height: 139px !important;
    height: 139px !important;
    max-height: 139px !important;
    overflow-y: auto;
    overflow-x: hidden;
    border : 0.5px solid #AEAEAE;
}

.btn-group > .btn{
    border-radius: 3px !important;
}

.scriptParameter{
    font-size: 13px;
    font-weight: 900;
}

@media only screen and (max-width: 650px) {
    .btnGrp button{
        min-width: 98px !important;
    }

    .scriptParameter{
        font-size: 9px;
        font-weight: 900;
    }

    .form-control{
        font-size: 9px !important;
    }

    #exitAlert{
        font-size: 11px !important;
    }

}

@media only screen and (max-width: 760px) {
 .arg2Margin{
     margin-top: 6px;
 }  

 .card-body {
    overflow-y: scroll;
 }

}