#alertHeading{
    color: rgba(76,149,197,1);
    font-size: 22px;
    text-align: center;
}

#mainAlertBody label{
   /* padding-left: 10px;
    margin-top: -10px;*/
}
#btnGroup1{
    display: flex; 
    justify-content: flex-end;
}
#btnGroup2{
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}

#submitBtnGroup{
    margin-top: 10px;
    width: 80%;
    display: flex; 
    justify-content: flex-end;
}
#formGroup{
    margin-left: 10px;
}
#addExtra{
    font-weight: 900;
    cursor: pointer;
}
#alertSummaryHead h5{
    text-align: center;
    color: #005EB7;
}
#alertRemoveIcon{
    cursor: pointer;
    color: red;
    padding-left: 5%;
}
#removeDiv{
    margin-top: 7px;
}
#formRow{
    margin-left: -13px !important;
}
.intelicon-trash-solid:before, .intelicon-trash:before {
    padding-left: 18px;
}
.intelicon-trash{
    cursor: pointer;
    color: red;
}
.intelicon-edit{
    cursor: pointer;
}
#recentAlertHead h5{
    text-align: center;
    color: #005EB7;
}
#recentAlertIcon{
    display: flex; 
    justify-content: flex-end;
    margin-top: 10px;
}

.dropBox:hover{
    border: 1px solid #007bff;
    opacity: 2;
}
#btnGroup2 button{
    width: 103px;
}
#inputComb{
    padding: 0.5%;
    height: calc(1.5em + 0.75rem + 2px);
}

.stopAlertBtnColour{
    background-color: #c51010 !important;
}

.startAlertBtnColour{
  background-color: #005EB7 !important;
}

th {
    color: #FFFFFF !important;
    background: #005EB7!important;
    border-color: #005EB7!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}



/* @media only screen and (max-width: 650px) {
    #alertHeading{
        color: rgba(76,149,197,1);
        font-size: 12px;
        text-align: center;
    }

    #content{
        overflow-y: auto; 
        min-height: 200px;
        max-height: 200px;
        width: 100%;
        border: 1px solid #ddd;
        margin-left: 0px;
    }

    .alertFontSize{
        font-size: 8px !important;
    }
} */

.form-control {
    font-size : 13px !important;
}


/* PTAT New CSS starts here */
.alertHeader{
    margin-left: 28px;
    margin-right: 10px;
    margin-top: -29px;
}
.alertHeaderAlert{
    margin: 7px;   
}

.alertContentArea{
    width: 98%;
    margin-left: 7px;
    margin-top: 5px;
    height: calc(100vh - 190px) !important;
    /* overflow-y: scroll; */
}
.alertHeaderMsg{
    color: #FF5662 !important;
}
.recentIconDiv{
    float: right;
}
.alertSummaryFixHead{
    border: 0.5px solid #AEAEAE;
    border-radius: 3px;
    height: calc(100vh - 434px) !important;
    min-height: calc(100vh - 434px) !important;
    max-height: calc(100vh - 434px) !important;
    overflow-y: scroll;
    background-color: #FFFFFF;
 }
 .alertSummaryFixHeadAlt{
    border: 0.5px solid #AEAEAE;
    border-radius: 3px;
    height: calc(100vh - 272px) !important;
    min-height: calc(100vh - 272px) !important;
    max-height: calc(100vh - 272px) !important;
    overflow-y: scroll;
    background-color: #FFFFFF;
 }
 .alertSummaryFixHead thead th{ 
    position: sticky; 
    top: 0; 
}
 .alertSummaryFixHead table{
     margin-bottom: 0rem !important;
 }

.contentAreaHeader{
    height: 207px !important;
    max-height: 207px !important;
    overflow-y: scroll;
}
.alertFixHead{
    border: 0.5px solid #AEAEAE;
    border-radius: 3px;
    height: calc(100vh - 434px) !important;
    min-height: calc(100vh - 434px) !important;
    max-height: calc(100vh - 434px) !important;
    overflow-y: scroll;
    background-color: #FFFFFF;
}
.alertFixHeadAlt{
    border: 0.5px solid #AEAEAE;
    border-radius: 3px;
    height: calc(100vh - 272px) !important;
    min-height: calc(100vh - 272px) !important;
    max-height: calc(100vh - 272px) !important;
    overflow-y: scroll;
    background-color: #FFFFFF;
}
.alertFixHead thead th{ 
    position: sticky; 
    top: 0; 
}
 .alertFixHead table{
     margin-bottom: 0rem !important;
 }
#recentAlertTable th{
    text-align: center; 
    vertical-align: middle;
}
#recentAlertTable tr td{
    text-align: center; 
    vertical-align: middle;
}
.alertCard{
    margin-top: 4px;
}

.alertDropTextBox{
    width: 95% !important;
    margin-left: 20px;
}

.alertDropDownBtnColor {
    background-color: #0095CA !important;
    color: white !important;
    height: 33px;
    min-width: 80px;
    font-size: 13px !important;
}

.selectBtn {
    background-color: #0095CA !important;
    color: white !important;
    height: 33px;
    min-width: 130px;
    font-size: 13px !important;
}
@media only screen and (max-width: 670px) {
    .alertDropTextBox{
        width: 80% !important;
        margin-left: 30px;
    }

    .alertDropDownBtnColor {
        background-color: #0095CA !important;
        color: white !important;
        height: 33px;
        min-width: 42px;
        font-size: 12px !important;
    }

    .selectBtn {
        background-color: #0095CA !important;
        color: white !important;
        height: 33px;
        /* min-width: 42px; */
        font-size: 12px !important;
    }
    .marginLeftCondition{
        margin-left:6px;
    }

    #alertHeading{
        color: rgba(76,149,197,1);
        font-size: 12px;
        text-align: center;
    }

    #content{
        overflow-y: auto; 
        min-height: 200px;
        max-height: 200px;
        width: 100%;
        border: 1px solid #ddd;
        margin-left: 0px;
    }

    .alertFontSize{
        font-size: 9px !important;
    }

    .selectBtnFont{
        font-size: 9px !important;
    }

    .form-control {
        font-size: 9px !important;
    }

    ::ng-deep .mat-tooltip {
        font-size: 9px !important;
    }
}
  
/* style="width: 95% !important;margin-left: 20px;"  */

/* width: 80% !important;
margin-left: 42px; */