<div class="row initRow">
  <div class="col-6" style="display: flex;">
    <div class="col-5 nopadding">
    <button id="offlineAnalysisBtn" type="button" data-toggle="modal" (click)="uploadLogFile()"
      data-target="#tatLogAnalysisModal" class="btn blueBtnColor" style="margin-left: 7px" >Upload Log file to Analyse
    </button>
  </div>
  <div class="col-7 nopadding">
    <div class="infoClass">
      <label style="margin-top: 8px; margin-bottom: 0px;">
      * For best results please upload full PTAT log</label>
    </div>
  </div>
 </div>
  <div class="col-6" *ngIf="showIcon">
    <i class="fas fa-save btn save btn-sm offlineAnalysisIcon greenBtnColor iconBtn" id="saveicon" (click)="saveTATLogAnalysis()"></i>
    <i class="fas fa-align-left btn btn-sm offlineAnalysisIcon leftBtn greenBtnColor iconBtn" (click)="toggleOfflineAnalysis($event)" id="tatLogAnalsisToggle"></i>
  </div>
  <div class="card curvedCorners" [ngClass]="!tableData? 'mainCard': 'mainCardAlt'">
    <div class="card-header analysisCardHeade"  id="tatLogAnalysisFeatureContainer">
      <h6 class="">{{supportTatLogAnalysis.InfoHeading}}</h6>
      <label class="infoClass">{{supportTatLogAnalysis.Info}}</label>
      <div class="card curvedCorners popupCard">
        <div class="card-body"> 
          <h6 class="">{{supportTatLogAnalysis.FeatureHeading}}</h6>
          <ul class="list-group">
            <li class="list-group-item custom-groupitem" *ngFor="let item of supportTatLogAnalysis.Feature">
              <i class="fa fa-check fa-xs" aria-hidden="true"></i> &nbsp;
              {{item.Data}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- SECOND SECTION -->
    <div class="card-header analysisCardHeade" id="tatLogAnalysisTabContainer" *ngIf="tableData">
      <div class="infoClass subHeading">
        <span>*NA -Data not available</span>
        <span>*Click on the legends to show/hide graphs</span>
      </div>
      <mat-tab-group class="tabGroup">
        <mat-tab  *ngFor="let item of tableData.Data; let tabindex = index" style="padding: 0px;"> 
          <ng-template mat-tab-label >
          <span (click)="tatLogTabClickIndex(tabindex)"> 
            <mat-icon class="intelicon-menu"  style="font-size: 15px" ></mat-icon>{{item.TabName}}</span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <div class="card logAnalysisCard">
        <div class="card-body" id="tatLogAnalysisTabContainer" *ngIf="tableData">
          <div class="tableChartParent" *ngFor="let item of tableData.Data;let tabindexCount = index" [ngStyle]="{'display': tabindexCount == currentSelectedTab ? null : 'none' }">
            <div  class="curvedCorners"  id="tatLogAnalysisFixHead" *ngIf="item.Type == 'table'">
              <table class="table table-bordered" *ngIf="item.Type == 'table'">
                <ng-container *ngFor="let data of item.TableData">
                  <thead class="thead-dark">
                    <tr>
                      <th *ngFor="let head of data.Header;let i = index">
                        <span style="display: block;">{{head}}
                          <ng-container *ngIf="item.TabName =='Consolidated results'">
                            <div class="dropdown" *ngIf="i==0" style="float:right !important;" >
                            <i class="far fa-caret-square-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <ul  class="dropdown-menu scrollable-menu" role="menu" style="font-weight:normal;overflow-y: auto;max-height: 110px; position: relative;margin-top: 10px;">
                              <li *ngFor="let row1 of data.Row; let k = index; let even=even"  style="margin-left: 5px;margin-right: 5px;font-size:11px;white-space: nowrap;" class="tatLogAnalysisLi dropdown-submenu">
                                <span  *ngIf="row1[1] == '' && row1[2] == ''">
                                  <input type="checkbox" id="{{k}}" checked  (click)="consolidatedResultTab($event,tabindexCount,k)"/> 
                                  <label for="{{k}}">{{consolidatedTabDDspilt(row1)}}</label>
                                </span>
                              </li>
                            </ul>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="item.TabName !='Consolidated results'">
                            <div class="dropdown" *ngIf="i==0" style="float:right !important;" >
                            <i class="far fa-caret-square-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                              <ul  class="dropdown-menu scrollable-menu" role="menu" style="font-weight:normal;overflow-y: auto;max-height: 180px;margin-top: 10px;">
                                <li *ngFor="let row1 of data.Row; let k = index"  style="margin-left: 5px;margin-right: 5px;font-size:11px;white-space: nowrap;" class="tatLogAnalysisLi dropdown-submenu">
                                  <input type="checkbox" id="{{k}}" checked  (click)="nonConsolidatedResultTab($event,tabindexCount,k)"/> 
                                  <label for="{{k}}">{{nonConsolidatedTabDDspilt(row1)}}</label>
                                </li>
                              </ul>
                            </div>
                          </ng-container>
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let row1 of data.Row;let j = index">
                      <tr class="tatlogAnalysisTableRow{{tabindexCount}}{{j}}" *ngIf="row1[1] != ''" >
                        <td *ngFor="let row of row1"><span [ngClass]="{'green':row.includes('green'),'red':row.includes('red'),'lightgrey':row.includes('Bold'),'yellowColor':row.includes('yellow')}" >{{trimdata(row)}}</span></td>
                      </tr>
                      <tr class="tatlogAnalysisTableRow{{tabindexCount}}{{j}} consolidateHeader" *ngIf="row1[1] == '' && row1[2] == ''" >
                        <td [attr.colspan]="4" style="background-color: #eff3f7;"><span [ngClass]="{'green':row1[0].includes('green'),'red':row1[0].includes('red'),'lightgrey':row1[0].includes('Bold'),'yellowColor':row1[0].includes('yellow')}" >{{trimdata(row1[0])}}</span></td>
                      </tr>
                    </ng-container>
                  </tbody>
                </ng-container>
              </table>
            </div>
            <div *ngIf="item.Type == 'graph'">
              <div id="{{'grapContainer'+tabindexCount}}" class="graphClass" style="height: 100%; width: 100%;" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="thirdPage col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 hidden"  id="tatLogAnalysisErrorContainer" style="height:100%;text-align: center;">
      <label style="font-size: 44px;color: rgba(236, 136, 138, 0.9);margin-top: 9%;font-weight: 700;">{{errorHandling}}</label>
  </div>
  </div>
</div>


<div id="tatLogAnalysisModal" class="modal fade offlineGraphPopupWidth popupBackgroundColor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title">Load PTAT Log analysis file</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card curvedCorners">
          <div class="card-header">
            <form>
              <div class="form-group row">
                <label for="staticEmail" class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-form-label">File path</label>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                  <input type="text" class="form-control form-control-sm" value={{tatLogFilePath}} disabled="disabled" />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label" style="padding-top: 0px;">Select Log file to Load</label>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="padding-top:5px;">
                  <i class="fas fa-sync" (click)="refreshUploadLogFile()"></i>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                  <select id="inputState" class="form-control form-control-sm" [(ngModel)]="tatLogAnalysiLogFile" [ngModelOptions]="{standalone: true}">
                      <option style="max-width: 50px;" *ngFor="let item of tatLogAnalysisLog">{{item.Data}}</option> 
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button [disabled]="logFileCount == 0"  type="button" class="btn greenBtnColor" (click)="submitTatLogAnalysis()" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>