@import "~angular-notifier/styles";
.graphHeight{
    height:37%!important;
}

.graphMaximumHeight{
    height:80%!important;
}

.allignCenter{
    text-align: center;
}

.ui-state-default{
    /* width:90% */
    left:90% !important;
}

.AnalysisPopupHeader{
    background-color: #0fbdfe;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 5px 5px 0 0;
    color: #ffff;
}

.marginLeft5{
    margin-left: 5px !important;
}

.marginTop8{
    margin-top: 8px !important;
}


.liStyle{
    padding: 10px;
    border-bottom: 1px solid gray !important;
}


.paramSelected{
    background: #2098d1 ;
    color: rgba(254, 198, 82, 1) ;
}


.offlineGraphParams:hover{
    background: #23527c;
    color: rgba(254, 198, 82, 1);
    font-weight: 500;
}

/* ::ng-deep .mat-form-field-underline {
    display: none;
  } */

.liveAnalysisDD ::ng-deep .mat-form-field-infix{
    padding:0px!important;
    background-color:#2098d1;
    color:#ffff;
}

.liveAnalysisTextCenter{
    text-align-last:center !important;
    margin-bottom: -5px;
    font-size:13px;
}

.liveAnalysisDropDownList{
    background-color: #5BC0DE;
}

.liveAnalysisDD ::ng-deep .mat-form-field-underline {
    display: none;
  } 

.rotate-45-right{
    transform: rotate(45deg);
}

.rotate-45-right{
    transform: rotate(45deg);
}

.rotate-45-left{
    transform: rotate(-45deg);
}


.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, 0.125) ! important;
    font-size: 13px;
}


.list-group-item-secondary {
    color: #383d41;
    background-color: #fff ! important;
}

::ng-deep .mat-form-field-infix{
    border-radius: 4px !important;
}
::ng-deep .mat-form-field-infix::after{
    color:#FFFFFF !important;
}


@media (min-width: 992px){
	.offlineGraphPopupWidth > .modal-lg {
		max-width: 700px;
	}
}



/* New PTAT Code Starts Here */
.offlineLoadCard{
    border: none;
}
.fa-sync{
    margin-top: 10px;
    cursor: pointer;
}
.offlineGraphContainer{
    height: calc(100vh - 363px) !important;
    min-height: calc(100vh - 363px) !important;
    max-height: calc(100vh - 363px) !important;
    overflow-y: auto;
}

.offlineCard{
    height: calc(100vh - 238px) !important;
    min-height: calc(100vh - 238px) !important;
    max-height: calc(100vh - 238px) !important;
    border: none !important;
}
.mainOfflineCardRow{
    padding: 2px 16px 2px 16px;
}
.graphListCard ,.selectedGraphListCard{
    height: calc(100vh - 310px) !important;
    min-height: calc(100vh - 310px) !important;
    max-height: calc(100vh - 310px) !important;
}
.graphListCard .card-header, .selectedGraphListCard .card-header{
    margin-left: -15px;
    width: 112.5%;
}
.divOfflinePlottingList .form-check{
    margin-left: 7px;
}
.middleIcon{
    text-align: center;
    font-size: 35px;
    padding-top: 110px;
    color: #005EB7 !important;
    margin-left: 35%;
}
.offlineCard .card-footer{
    padding: 10px !important;
}
.clear{
    margin-right: 10px;
}
.liveGraphRow{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -6px;
}
.graphCard2{
    margin-left: -5px;
    width: 101.6%;
    margin-top: 10px;
}
.parameterCardhead{
    margin-left: -15px;
    width: 112%;
    border-radius: 7px 7px 0px 0px !important;
}

.parameterCardBody{
    padding: 5px !important;
    min-height: calc(100% - 46px);
    /*height: calc(100vh - 320px);
    min-height: calc(100vh - 320px);
    max-height: calc(100vh - 320px);*/
    margin-left: -14px;
    width: 111.4%;
    border-radius: 0px 0px 7px 7px;
}
.liveGraphListCardBody{
    overflow-y: auto;
    margin-left: -14px;
    width: 111.4%;
}
.liveGraphNextIcon{
    font-size: 30px;
    color: #005a9d;
    margin-left: 30px;
}
.liveAnalysisGraphCard1{
    /* height: calc(100vh - 397px);
    min-height: calc(100vh - 397px);
    max-height: calc(100vh - 397px); */
    height: calc(100% - 40px);
    margin-top: 4px;
    border: none;
}
.liveAnalysisGraphCard2{
    /*height: calc(100vh - 425px);
    min-height: calc(100vh - 425px);
    max-height: calc(100vh - 425px);*/
    height: calc(100% - 13px);
    margin-left: -13px;
    width: 102.2%;
    margin-top: -5px;
}
.segmentHeight1{
    height: 39vh;
    margin-top: -10px;
    margin-left: -10px;
    width: 101.6% !important;
    min-width: 101.6% !important;
    max-width: 101.6% !important;
}
.segmentHeight2{
    height: 35vh; 
    /* margin-top: 4px !important; */
    margin-left: -10px;
    width: 101.6% !important;
    min-width: 101.6% !important;
    max-width: 101.6% !important;
}
.liveAnalysisGraphCard1 .card-header{
    /*height: calc(100vh - 387px);
    min-height: calc(100vh - 387px);
    max-height: calc(100vh - 387px);*/
}
.offlineGraphCard1{
    height: calc(100% - 32px);
    margin-top: 3px !important;
}
.segmentHeight2 .card:nth-child(2){
    height: calc(100% - 12px);
    margin-left: -13px;
    width: 102.2%;
    margin-top: -5px
}
.graphCard2 .card-footer{
    padding: 6px;
}

.card-footer{
    border: 0.5px solid #AEAEAE;
}
.graphHeaderTxt{
    font-size: 13px;
    font-weight: 800;
}

.legend { 
    list-style: none; 
  }
  .legend li { 
    float: left; 
    margin-right: 10px; 
  }
  .legend span { 
    border: 1px solid #ccc; 
    float: left; 
    width: 13px; 
    height: 13px; 
    margin: 4px; 
  }
  .legend .leftDir { 
    background-color: red;
  }
  
  .legend .rightDir { 
    background-color: #006400 ! important;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #0095CA;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: -6px;
    margin-left: 3px;
    margin-right: -4px;
  }



@media only screen and (max-width: 650px) {
    .minuteBtnSize{
        min-width: 24px!important;
        margin-left: 2px !important;
    }

    .marginLeft5{
        margin-left: 1px !important;
    }
    .graphHeaderTxt{
        font-size: 11px;
        font-weight: 800;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 0px solid rgba(0, 0, 0, 0.125) ! important;
        font-size: 9px;
    }
    .offlineGraphCheckBox{
        margin-top: 0px !important;
    }

    .graphListCard .card-header, .selectedGraphListCard .card-header{
        width: 118.5%;
    }
    
    .parameterCardhead{
        width: 118%;
    }
    
    .parameterCardBody{
        width: 117.4%;
    }
    
    .liveGraphListCardBody{
        width: 117.4%;
    }
    .liveGraphNextIcon[_ngcontent-sqx-c12] {
        margin-left: 15px;
    }
        
}