#headingTable .table th, .table td{
    border-top: 0px;
}
.bodyDataDiv{
    margin-top: 10px;
    background-color:  rgba(159, 159, 159, 1);
    height: 25px;
    font-size: 13px;
    margin-left: 5px;
}

.noBulletDesign{
    list-style: none;
    padding:12px;
}
.noBulletDesign i{
    cursor: pointer;
}
.noBulletDesign ul li{
    list-style: none;
    padding-left: 2px;
}
.noBulletDesign ul{
    padding-left: 5px;
}
.childData li{
    cursor: pointer;
}
.active{
    color: #FFFF00;
}

.liveAnalysisFontSize{
    font-size: 13px ! important;
}

.liveAnalysisTreeselectionColor{
    color: #FFFF00;
}

.analysisInfo{
    margin: 0px !important;
    color: #21217b;
    font-weight :500;
   /* font-size: 12px !important;*/
}


@media only screen and (max-width: 650px) {
    .analysisInfo{
        font-size: 9px !important;
    }

    .liveAnalyTableHeader{
        font-size:11px !important
    }
    .bodyDataAnalysis{
        font-size:9px;
    }
    .mainContent {
        margin-right: 8px;
    }
    
}

.text-warning{
    color: #ff8507 !important;
}

.btn-primary{
    background-color: #005EB7 !important;
    color:#fff !important;
}


.mat-menu-content{
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
}


/* New CSS Code Starts Here */
.mainContent{
    margin-top: -31px;  
}
.firstCard{
    width: 96%;
    margin-left: 32px;
}
.mainContent .firstCard:nth-child(2){
    margin-top: 5px !important;
}
.analysisCard .form-group{
    margin-bottom: 5px !important;
}
.cardHeading{
    font-weight: bold;
}
.statusBody{
    /*height: calc(100vh - 454px);*/
    min-height: calc(100vh - 454px);
    /*max-height: calc(100vh - 454px);*/
    overflow-y: auto;
}
.formName{
    margin-left: -10px;
}
.btnDiv{
    margin-top: 7px;
    float: right;
}
.btnDiv > input{
    width: 100px;
}

.sidePanelBtn {
    margin-left: -8px !important;
    margin-top: 8px !important;
}